<div class="">
    <div class="container-fluid py-5">
        <div class="row py-3">
            <div class="col-md-3 ">
                <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

                    <div class="col-md-12">
                        <div class="pb-3">
                            <p class=""><b>Location</b></p>
                            <div class="locationinput">
                                <input mdbInput type="text" class="form-control "  placeholder="Location">
                                <i><mdb-icon fas icon="map-marker-alt"></mdb-icon></i>
                            </div>
                        </div>
                        <div class="py-3">
                            <p class=""><b>Category</b></p>
                            <select class="browser-default custom-select">
                                <option selected>All categories</option>
                                <option value="1">Admin</option>
                                <option value="2">Support</option>
                                <option value="3">Developement</option>
                                <option value="4">Design</option>
                                <option value="5">Data analysis</option>
                            </select>
                        </div>
                        <div class="py-3">
                            <p class=""><b>Key words</b></p>
                            <!-- <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="eg : angular ,css"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">
                                        <mdb-icon fas icon="plus"></mdb-icon>
                                    </span>
                                </div>
                            </div> -->
                            <div class="keyinput">
                                <input mdbInput type="text" class="form-control "  placeholder="Ex:angular">
                                <i><mdb-icon fas icon="plus" class="fa-m" ></mdb-icon></i>
                                                        </div>
                        </div>
                        <div class="py-3">
                            
                            <p class=""><b>skills</b></p>
                            <mat-chip-list aria-label="Fish selection" class="py-2">
                                <mat-chip>Angular</mat-chip>
                                <mat-chip>css</mat-chip>
                                <mat-chip>Python</mat-chip>
                                <mat-chip>Node</mat-chip>
                                <mat-chip>Design</mat-chip>

                            </mat-chip-list>
                            <div class="skills my-3">
                                <input mdbInput type="text" class="form-control "  placeholder="skills">
                                <i><mdb-icon fas icon="plus" class="fa-m" ></mdb-icon></i>
                                                 
                            </div>
                        </div>
                        
                    </div>
                </cdk-virtual-scroll-viewport>
                <button type="button" mdbBtn color="primary" block="true" class="py-2"
                            mdbWavesEffect>search</button>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4 my-2">
                        <mdb-card class="learnContentCards">
                            <mdb-card-body>

                                <div class=" text-center py-3">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt=""
                                        class="img-fluid rounded-circle" width="80px">
                                    <p class="h6 pt-2 my-0">David johnson</p>
                                    <p class="text-grey py-0  ">ui/ux designer</p>
                                    <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                </div>
                                <div class="">
                                    <div class="row py-3">
                                        <div class="col-4">
                                            <p class="grey-text my-0">Location</p>
                                            <p>
                                                <mdb-icon fas icon="map-marker-alt" class="mr-1"></mdb-icon>London
                                            </p>
                                        </div>
                                        <div class="col-3 px-0">
                                            <p class="grey-text my-0 ">Rate/hr</p>
                                            <p>60$/hr</p>
                                        </div>
                                        <div class="col-5">
                                            <p class="grey-text py-0 my-0">Job success</p>
                                            <p class="py-0">95%</p>
                                        </div>
                                        <div class="col-md-6 mt-2">

                                            <button type="button" mdbBtn color="primary" block="true" size="sm" class="py-2"
                                                mdbWavesEffect>View Profile</button>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                                <button type="button" mdbBtn color="success" block="true" size="sm" class="py-2"
                                                mdbWavesEffect>follow</button>
                                        
                                        </div>
                                    </div>
                                </div>
                            </mdb-card-body>
                        </mdb-card>
                    </div>
                    <div class="col-md-4 my-2">
                        <mdb-card class="learnContentCards">
                            <mdb-card-body>

                                <div class=" text-center py-3">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt=""
                                        class="img-fluid rounded-circle" width="80px">
                                    <p class="h6 pt-2 my-0">David johnson</p>
                                    <p class="text-grey py-0  ">ui/ux designer</p>
                                    <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                </div>
                                <div class="">
                                    <div class="row py-3">
                                        <div class="col-4">
                                            <p class="grey-text my-0">Location</p>
                                            <p>
                                                <mdb-icon fas icon="map-marker-alt" class="mr-1"></mdb-icon>Berlin
                                            </p>
                                        </div>
                                        <div class="col-3 px-0">
                                            <p class="grey-text my-0">Rate/hr</p>
                                            <p>60$/hr</p>
                                        </div>
                                        <div class="col-5">
                                            <p class="grey-text py-0 my-0">Job success</p>
                                            <p class="py-0">95%</p>
                                        </div>
                                        <div class="col-md-6 mt-2">

                                            <button type="button" mdbBtn color="primary" block="true" size="sm" class="py-2"
                                                mdbWavesEffect>View Profile</button>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                                <button type="button" mdbBtn color="success" block="true" size="sm" class="py-2"
                                                mdbWavesEffect>follow</button>
                                        
                                        </div>
                                    </div>
                                </div>
                            </mdb-card-body>
                        </mdb-card>
                    </div>
                    <div class="col-md-4 my-2">
                        <mdb-card class="learnContentCards">
                            <mdb-card-body>

                                <div class=" text-center py-3">
                                    <span>
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt=""
                                        class="img-fluid rounded-circle" width="80px">
                                    </span>
                                    <p class="h6 pt-2 my-0">David johnson</p>
                                    <p class="text-grey py-0  ">ui/ux designer</p>
                                    <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                </div>
                                <div class="">
                                    <div class="row py-3">
                                        <div class="col-4">
                                            <p class="grey-text my-0">Location</p>
                                            <p>
                                                <mdb-icon fas icon="map-marker-alt" class="mr-1"></mdb-icon>Berlin
                                            </p>
                                        </div>
                                        <div class="col-3 px-0 text-center">
                                            <p class="grey-text my-0">Rate/hr</p>
                                            <p>60$/hr</p>
                                        </div>
                                        <div class="col-5">
                                            <p class="grey-text py-0 my-0">Job success</p>
                                            <p class="py-0">95%</p>
                                        </div>
                                        <div class="col-md-6 mt-2">

                                            <button type="button" mdbBtn color="primary" block="true" size="sm" class="py-2"
                                                mdbWavesEffect>View Profile</button>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                                <button type="button" mdbBtn color="success" block="true" size="sm" class="py-2"
                                                mdbWavesEffect>follow</button>
                                        
                                        </div>
                                    </div>
                                </div>
                            </mdb-card-body>
                        </mdb-card>
                    </div>
                </div>
            </div>
        </div>
    </div>