.starsymbol{
    color:#febe42;
    }
    .learnContentCards {
        min-height: 100px;
        transition: 0.2s linear;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
       // border-bottom: 2px solid green;
    }
    .learnContentCards:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -4px, 0);
    }
    mat-slider {
        width: 200px;
      }
      .example-viewport {
        height: 470px;
       width: 320px;
       overflow-x: hidden;

       // border: 1px solid black;
      }
      
      .example-item {
        height:300px;
      }
      ::-webkit-scrollbar {
        width: 2px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 2px;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:grey;
        border-radius: 5px;
      }
      
      .locationinput i{
          position: absolute;
          top:42px;
          left: 275px;
      }
      .keyinput i{
          position: absolute;
          top:243px;
          background-color: blue;
          left: 270px;
          color: white;
          padding: 2px 4px;
      }
      .skills i{
        position: absolute;
        top:434px;
        background-color: blue;
        left: 270px;
        color: white;
        padding: 2px 4px;
    }