.CourseCards {
    border-left: 2px solid #ec407a;
}
.DetailsPage {
    width: 1300px;
}
.AddcourseBtn {
    width: 30px;
    height: 30px;
}
.profile {
    height: 150px;
}

.CourseCardBody{
    padding: 20px 20px 20px 35px ;
}