<!-- <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <mdb-card class="CourseCards cursor-pointer">
                    <mdb-card-body class="px-5">
                        <mdb-card-title>
                            <small class="grey-text">Wmba-60-23</small>
                            <h2 class="text-uppercase">Managing people and programming collaboration.</h2>
                        </mdb-card-title>
                        <mdb-card-text>
                            <div class="row text-uppercase my-4">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-3 text-center pt-2 p-0">
                                            <mdb-icon far icon="clone" size="2x"></mdb-icon>
                                        </div>
                                        <div class="col-9 p-0">
                                            <small class="grey-text"> instructor </small>
                                            <h5>robert finkelmeier</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="clock" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 pl-2">
                                                    <small class="grey-text"> Value </small>
                                                    <h5>3 credits </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="folder-open" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 pl-2">
                                                    <small class="grey-text"> Subject </small>
                                                    <h5>History</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-uppercase">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <small class="grey-text"> duration </small>
                                        </div>
                                        <div class="col-5 pr-0">
                                            <p class="h1">41</p>
                                        </div>
                                        <div class="col-7 pl-0 pt-1">
                                            <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                            <h6>days</h6>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 mt-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                        </div>
                                        <div class="col-6">
                                            <small class="grey-text "> jan/2019 </small>
                                        </div>
                                        <div class="col-6 text-right">
                                            <small class="grey-text"> may/2019 </small>
                                        </div>

                                    </div>

                                </div>
                            </div>



                            <div class="row mt-4">
                                <div class="col-6">
                                    <button mdbBtn type="button" block="true" color="info" outline="true"
                                        mdbWavesEffect>go to classroom</button>
                                </div>
                                <div class="col-6 ">
                                    <button mdbBtn type="button" block="true" color="info" outline="true" mdbWavesEffect
                                        routerLink="/home/courseview">course materials</button>
                                </div>
                            </div>


                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>

            </div>
        </div>
    </div>

</section> -->








<section class="py-5" >
    <div class="container-fluid mx-auto DetailsPage"  >
        <div class="row">
            <div class="col-md-3">
                <mdb-card class="my-3">
                    <mdb-card-body>
                        <mdb-card-title>
                            <p class="text-center h5"> Filters </p>
                            <div class="mb-3">
                                <h3 class="mb-2">Locations</h3>
                                <ul class="list-group">
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">India</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">United States
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Bengaluru Area, India
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">San Francisco Bay
                                            Area</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">New Delhi Area, India
                                        </mat-checkbox>
                                    </li>
                                </ul>
                            </div>

                            <div class="mb-3">
                                <h3 class="mb-2">Current companies</h3>
                                <ul class="list-group">
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Google</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Microsoft
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Amazon
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Facebook
                                            Area</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">LinkedIn
                                        </mat-checkbox>
                                    </li>
                                </ul>
                            </div>

                            <div class="mb-3">
                                <h3 class="mb-2">Industries</h3>
                                <ul class="list-group">
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Computer Software</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Information Technology
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Internet
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Financial Services
                                            Area</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Research
                                        </mat-checkbox>
                                    </li>
                                </ul>

                            </div>

                            <div class="mb-3">
                                <h3 class="mb-2 text-center">
                                    <button mdbBtn type="button" color="pink" size="sm" block="true" mdbWavesEffect
                                        (click)="FiltersModal.show()">More</button>
                                </h3>
                            </div>

                        </mdb-card-title>

                    </mdb-card-body>
                </mdb-card>



            </div>



            <div class="col-md-9">

                <div class="row my-3">

                    <div class="col-md-12">
                        <h2>My Courses</h2>

                        

                    </div>

                    <div class="col-md-6 my-3">
                        <mdb-card class="CourseCards cursor-pointer">
                            <mdb-card-body class="px-5">
                                <mdb-card-title>
                                    <small class="grey-text">Wmba-60-23</small>
                                    <h2 class="text-uppercase">Managing people and programming collaboration.</h2>
                                </mdb-card-title>
                                <mdb-card-text>
                                    <div class="row text-uppercase my-4">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="clone" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 p-0">
                                                    <small class="grey-text"> instructor </small>
                                                    <h5>robert finkelmeier</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="clock" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Value </small>
                                                            <h5>3 credits </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="folder-open" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Subject </small>
                                                            <h5>History</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-uppercase">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <small class="grey-text"> duration </small>
                                                </div>
                                                <div class="col-6 pr-0">
                                                    <p class="h1">41</p>
                                                </div>
                                                <div class="col-6 pl-0 pt-1">
                                                    <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                                    <h6>days</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                </div>
                                                <div class="col-6">
                                                    <small class="grey-text "> jan/2019 </small>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <small class="grey-text"> may/2019 </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                              class="px-1"  mdbWavesEffect>go to classroom</button>
                                        </div>
                                        <div class="col-6 ">
                                            <button  mdbBtn type="button" block="true" color="info" outline="true"
                                            class="px-1"  mdbWavesEffect routerLink="/home/courseview">course materials</button>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </mdb-card-body>
                        </mdb-card>

                    </div>
                    <div class="col-md-6 my-3">
                        <mdb-card class="CourseCards cursor-pointer">
                            <mdb-card-body class="px-5">
                                <mdb-card-title>
                                    <small class="grey-text">Wmba-60-23</small>
                                    <h2 class="text-uppercase">Managing people and programming collaboration.</h2>
                                </mdb-card-title>
                                <mdb-card-text>
                                    <div class="row text-uppercase my-4">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="clone" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 p-0">
                                                    <small class="grey-text"> instructor </small>
                                                    <h5>robert finkelmeier</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="clock" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Value </small>
                                                            <h5>3 credits </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="folder-open" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Subject </small>
                                                            <h5>History</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-uppercase">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <small class="grey-text"> duration </small>
                                                </div>
                                                <div class="col-6 pr-0">
                                                    <p class="h1">41</p>
                                                </div>
                                                <div class="col-6 pl-0 pt-1">
                                                    <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                                    <h6>days</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                </div>
                                                <div class="col-6">
                                                    <small class="grey-text "> jan/2019 </small>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <small class="grey-text"> may/2019 </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                              class="px-1"  mdbWavesEffect>go to classroom</button>
                                        </div>
                                        <div class="col-6 ">
                                            <button  mdbBtn type="button" block="true" color="info" outline="true"
                                            class="px-1"  mdbWavesEffect routerLink="/home/courseview">course materials</button>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </mdb-card-body>
                        </mdb-card>

                    </div>
                    <div class="col-md-6 my-3">
                        <mdb-card class="CourseCards cursor-pointer">
                            <mdb-card-body class="px-5">
                                <mdb-card-title>
                                    <small class="grey-text">Wmba-60-23</small>
                                    <h2 class="text-uppercase">Managing people and programming collaboration.</h2>
                                </mdb-card-title>
                                <mdb-card-text>
                                    <div class="row text-uppercase my-4">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="clone" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 p-0">
                                                    <small class="grey-text"> instructor </small>
                                                    <h5>robert finkelmeier</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="clock" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Value </small>
                                                            <h5>3 credits </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="folder-open" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Subject </small>
                                                            <h5>History</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-uppercase">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <small class="grey-text"> duration </small>
                                                </div>
                                                <div class="col-6 pr-0">
                                                    <p class="h1">41</p>
                                                </div>
                                                <div class="col-6 pl-0 pt-1">
                                                    <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                                    <h6>days</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                </div>
                                                <div class="col-6">
                                                    <small class="grey-text "> jan/2019 </small>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <small class="grey-text"> may/2019 </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                              class="px-1"  mdbWavesEffect>go to classroom</button>
                                        </div>
                                        <div class="col-6 ">
                                            <button  mdbBtn type="button" block="true" color="info" outline="true"
                                            class="px-1"  mdbWavesEffect routerLink="/home/courseview">course materials</button>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </mdb-card-body>
                        </mdb-card>

                    </div>
                    <div class="col-md-6 my-3">
                        <mdb-card class="CourseCards cursor-pointer">
                            <mdb-card-body class="px-5">
                                <mdb-card-title>
                                    <small class="grey-text">Wmba-60-23</small>
                                    <h2 class="text-uppercase">Managing people and programming collaboration.</h2>
                                </mdb-card-title>
                                <mdb-card-text>
                                    <div class="row text-uppercase my-4">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="clone" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 p-0">
                                                    <small class="grey-text"> instructor </small>
                                                    <h5>robert finkelmeier</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="clock" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Value </small>
                                                            <h5>3 credits </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="folder-open" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Subject </small>
                                                            <h5>History</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-uppercase">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <small class="grey-text"> duration </small>
                                                </div>
                                                <div class="col-6 pr-0">
                                                    <p class="h1">41</p>
                                                </div>
                                                <div class="col-6 pl-0 pt-1">
                                                    <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                                    <h6>days</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                </div>
                                                <div class="col-6">
                                                    <small class="grey-text "> jan/2019 </small>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <small class="grey-text"> may/2019 </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                              class="px-1"  mdbWavesEffect>go to classroom</button>
                                        </div>
                                        <div class="col-6 ">
                                            <button  mdbBtn type="button" block="true" color="info" outline="true"
                                            class="px-1"  mdbWavesEffect routerLink="/home/courseview">course materials</button>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </mdb-card-body>
                        </mdb-card>

                    </div>
                  
                </div>



            </div>
        </div>
    </div>

</section>