<!-- <section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <mdb-card class="CourseCards cursor-pointer">
                    <mdb-card-body class="px-5">
                        <mdb-card-title>
                            <small class="grey-text">Wmba-60-23</small>
                            <h2 class="text-uppercase">Managing people and programming collaboration.</h2>
                        </mdb-card-title>
                        <mdb-card-text>
                            <div class="row text-uppercase my-4">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-3 text-center pt-2 p-0">
                                            <mdb-icon far icon="clone" size="2x"></mdb-icon>
                                        </div>
                                        <div class="col-9 p-0">
                                            <small class="grey-text"> instructor </small>
                                            <h5>robert finkelmeier</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="clock" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 pl-2">
                                                    <small class="grey-text"> Value </small>
                                                    <h5>3 credits </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="folder-open" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 pl-2">
                                                    <small class="grey-text"> Subject </small>
                                                    <h5>History</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row text-uppercase">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <small class="grey-text"> duration </small>
                                        </div>
                                        <div class="col-5 pr-0">
                                            <p class="h1">41</p>
                                        </div>
                                        <div class="col-7 pl-0 pt-1">
                                            <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                            <h6>days</h6>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 mt-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                        </div>
                                        <div class="col-6">
                                            <small class="grey-text "> jan/2019 </small>
                                        </div>
                                        <div class="col-6 text-right">
                                            <small class="grey-text"> may/2019 </small>
                                        </div>

                                    </div>

                                </div>
                            </div>



                            <div class="row mt-4">
                                <div class="col-6">
                                    <button mdbBtn type="button" block="true" color="info" outline="true"
                                        mdbWavesEffect>go to classroom</button>
                                </div>
                                <div class="col-6 ">
                                    <button mdbBtn type="button" block="true" color="info" outline="true" mdbWavesEffect
                                        routerLink="/home/courseview">course materials</button>
                                </div>
                            </div>


                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>

            </div>
        </div>
    </div>

</section> -->





<section class="py-5">
    <div class="container-fluid mx-auto DetailsPage">
        <div class="row">
            <!-- <div class="col-md-3">
                <mdb-card class="my-3 stiky-top">
                    <mdb-card-body>
                        <mdb-card-title>
                            <div class="my-3">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <img src="./assets/images/icons/user.png" alt="user" width="50px">
                                    </div>
                                    <div class="col-md-9">
                                        <p class="h6 mb-0"> <b> {{userInfo.firstname}} {{userInfo.lastname}} </b></p>
                                        <h5>{{userInfo.steps.personal.about}}</h5>
                                    </div>
                                    <div class="col-md-12 my-2 mb-3 text-center">
                                        <button mdbBtn type="button" color="cyan" class="btn-rounded" size="sm"
                                            rounded="true" outline="true" mdbWavesEffect>View profile</button>
                                    </div>

                                    <div class="col-md-6 my-2 ">
                                        <b>Followers <span class="ml-2">234</span></b>
                                    </div>
                                    <div class="col-md-6 my-2 ">
                                        <b>Following <span class="ml-2">453</span></b>
                                    </div>

                                    <div class="col-md-4 my-2 ">
                                        <b>Location </b>
                                    </div>
                                    <div class="col-md-8 my-2 ">
                                        <mat-radio-button value="true" checked="true">
                                            {{userInfo.steps.personal.location}}</mat-radio-button>
                                    </div>
                                    <div class="col-md-12 my-4 ">
                                        <div>
                                            <b>Skills</b>
                                        </div>
                                        <div class="my-3">
                                            <mat-chip-list aria-label="Fish selection">
                                                <mat-chip *ngFor="let item of userInfo.steps.education.skills">{{item}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <div class="col-md-12 my-2 ">
                                        <b class="h6">Server Ranking <span class="ml-3">453</span></b>
                                    </div>
                                    <div class="col-md-12 my-3">
                                        <b>Course added </b>
                                        <ul class="list-group mt-2">
                                            <li class="list-group-item py-2">
                                                <mat-checkbox class="example-margin">Google</mat-checkbox>
                                            </li>
                                            <li class="list-group-item py-2">
                                                <mat-checkbox class="example-margin">Microsoft
                                                </mat-checkbox>
                                            </li>
                                            <li class="list-group-item py-2">
                                                <mat-checkbox class="example-margin">Amazon
                                                </mat-checkbox>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </mdb-card-title>
                    </mdb-card-body>
                </mdb-card>
            </div> -->



            <div class="col-md-12">
                <div class="row">
                    <mdb-card class="col-md-12 my-4">
                        <mdb-card-body>
                            <div class="row py-3">
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="./assets/professional.png"
                                                class="profile img-fluid rounded-circle" alt="user" width="150px"
                                                height="150px">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row ">
                                                <div class="col-md-9">
                                                    <p class="h3 pb-0 text-uppercase"> <b>{{userInfo.firstname}}
                                                            {{userInfo.lastname}}</b></p>
                                                </div>
                                                <div class="col-md-3 py-1">
                                                    <h3><b>$44/hr</b></h3>
                                                </div>
                                            </div>
                                            <h3 class="mb-0">{{userInfo.steps.personal.about}}</h3>
                                            <p class="blue-text">Epic Coders</p>
                                            <div>
                                                <button type="button" mdbBtn color="success" class="rounded ml-0"
                                                    mdbWavesEffect>Follow</button>
                                                <button type="button" mdbBtn color="primary" class="rounded"
                                                    outline="true" mdbWavesEffect>Message</button>
                                            </div>

                                        </div>
                                        <div class="col-md-1" class="border-right d-xs-none"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="h6">Availability:</p>
                                        </div>
                                        <div class="col-6 ">
                                            <div class="row">
                                                <div class="col-9 mr-0 pr-0">
                                                    <p> Full-time(40hr/wk)</p>
                                                </div>
                                                <div class="col-3 mx-0 px-0">
                                                    <span class="badge badge-pill badge-success">Active</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="h6">Age:</p>
                                        </div>
                                        <div class="col-2">
                                            <p>30</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="h6">Location:</p>
                                        </div>
                                        <div class="col-5">
                                            <p> {{userInfo.steps.personal.location}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="px-0 mx-0"><b>Years of experience:</b></p>
                                        </div>
                                        <div class="col-4">
                                            <p>6</p>
                                        </div>
                                    </div>
                                    <div class="row py-3">
                                        <div class="col-2">
                                            <a href="Javascript:Void(0)">
                                                <mdb-icon fab icon="github fa-2x" class="blue-text"></mdb-icon>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="Javascript:Void(0)">
                                                <mdb-icon fab icon="twitter-square fa-2x" class="blue-text">
                                                </mdb-icon>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="Javascript:Void(0)">
                                                <mdb-icon fab icon="facebook-square fa-2x" class="blue-text">
                                                </mdb-icon>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="Javascript:Void(0)">
                                                <mdb-icon fab icon="linkedin-in fa-2x" class="blue-text"></mdb-icon>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="Javascript:Void(0)">
                                                <mdb-icon fas icon="globe fa-2x" class="blue-text"></mdb-icon>
                                            </a>
                                        </div>
                                        <div class="col-2">
                                            <a href="Javascript:Void(0)">
                                                <mdb-icon fab icon="stack-overflow fa-2x" class="blue-text">
                                                </mdb-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>











            <div class="col-md-12">
                <div class="row my-3">
                    <div class="col-md-12 mb-3">
                        <h2>My Courses</h2>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="javascript:void(0)" routerLink="/home/courseupload">
                                    <button mdbBtn type="button" color="pink"
                                        class="AddcourseBtn p-0 rounded-circle mr-2 " mdbWavesEffect> +
                                    </button>
                                    Add Course
                                </a>
                            </div>
                            <div class="col-md-9 text-right">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button mdbBtn type="button" color="cyan" size="sm" class="waves-light"
                                        mdbWavesEffect>Available Courses </button>
                                    <button mdbBtn type="button" color="cyan" size="sm" class="waves-light"
                                        mdbWavesEffect outline="true">Upcomming Courses</button>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-4 my-3" *ngFor="let item of AvailableCourses">
                        <mdb-card class="CourseCards">
                            <mdb-card-body class="CourseCardBody">
                                <mdb-icon far icon="edit" class="float-right" size="2x"></mdb-icon>
                                <!-- <mdb-card-title> -->
                                <h2 class="text-uppercase pl-0">{{item.courseName}}</h2>
                                <!-- </mdb-card-title> -->
                                <mdb-card-text>
                                    <div class="row text-uppercase my-4">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <!-- <mdb-icon far icon="clone" size="2x"></mdb-icon> -->
                                                    <mdb-icon far icon="window-restore" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 pl-2">
                                                    <small class="grey-text"> Course Type </small>
                                                    <h5>{{item.courseType}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <!-- <mdb-icon fas icon="sort-amount-up-alt"></mdb-icon> -->
                                                    <mdb-icon fas icon="sort-amount-up-alt" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 pl-2">
                                                    <small class="grey-text"> Level </small>
                                                    <h5>{{item.skillLevel}} </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon fas icon="hand-holding-usd" size="2x"></mdb-icon>
                                                    <!-- <mdb-icon fas icon="rupee-sign" size="2x"></mdb-icon> -->
                                                </div>
                                                <div class="col-9 pl-3 pr-0">
                                                    <small class="grey-text"> Cost </small>
                                                    <h5>{{item.cost}}</h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row text-uppercase">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12  px-0">
                                                    <small class="grey-text"> duration </small>
                                                </div>
                                                <div class="col-6 px-0 ">
                                                    <p class="h1">{{item.duration}}</p>
                                                </div>
                                                <div class="col-6 px-0 pt-1">
                                                    <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                                    <h6>days</h6>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-8 mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- warn -->
                                                    <mat-progress-bar mode="determinate" color="primary"
                                                        value="{{item.CompletedDuration}}"></mat-progress-bar>
                                                </div>
                                                <div class="col-6">
                                                    <small class="grey-text "> {{item.startDate | date : 'MMM d, y'}}
                                                    </small>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <small class="grey-text"> {{item.endDate | date : 'MMM d, y'}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                                size="sm" class="px-1" mdbWavesEffect>go to classroom</button>
                                        </div>
                                        <div class="col-6 ">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                                size="sm" class="px-1" mdbWavesEffect
                                                (click)="CourseOverView(item)">course
                                                materials</button>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </mdb-card-body>
                        </mdb-card>

                    </div>
                    <!-- <div class="col-md-6 my-3">
                        <mdb-card class="CourseCards cursor-pointer">
                            <mdb-card-body class="px-5">
                                <mdb-card-title>
                                    <small class="grey-text">Wmba-60-23</small>
                                    <h2 class="text-uppercase">Managing people and programming collaboration.</h2>
                                </mdb-card-title>
                                <mdb-card-text>
                                    <div class="row text-uppercase my-4">
                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="col-3 text-center pt-2 p-0">
                                                    <mdb-icon far icon="clone" size="2x"></mdb-icon>
                                                </div>
                                                <div class="col-9 p-0">
                                                    <small class="grey-text"> instructor </small>
                                                    <h5>robert finkelmeier</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="clock" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Value </small>
                                                            <h5>3 credits </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-3 text-center pt-2 p-0">
                                                            <mdb-icon far icon="folder-open" size="2x"></mdb-icon>
                                                        </div>
                                                        <div class="col-9 pl-2">
                                                            <small class="grey-text"> Subject </small>
                                                            <h5>History</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-uppercase">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <small class="grey-text"> duration </small>
                                                </div>
                                                <div class="col-6 pr-0">
                                                    <p class="h1">41</p>
                                                </div>
                                                <div class="col-6 pl-0 pt-1">
                                                    <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                                    <h6>days</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 mt-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                                                </div>
                                                <div class="col-6">
                                                    <small class="grey-text "> jan/2019 </small>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <small class="grey-text"> may/2019 </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-6">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                                size="sm" class="px-1" mdbWavesEffect>go to classroom</button>
                                        </div>
                                        <div class="col-6 ">
                                            <button mdbBtn type="button" block="true" color="info" outline="true"
                                                size="sm" class="px-1" mdbWavesEffect
                                                routerLink="/home/courseview">course
                                                materials</button>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </mdb-card-body>
                        </mdb-card>

                    </div> -->


                </div>



            </div>
        </div>
    </div>

</section>