 .landing {
     background-color: #f0f4f7;
     font-family: Roboto;

}

.bak-gr {
    background-image:Url('./assets/Artboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    padding-bottom: 20%;
    
 }
 .noel{
     background-color: white;
 }


 .heading h1 {
     font-weight:bolder;
    
     color:white;
     font-size:  -webkit-xxx-large;
     
 }


 .world {
   background-color: #e2ddd7;
       color: black;
 }

.secondsection{
    margin-top: -150px;
}


.bottom{
    background-color: black;
}
