<app-landing-header></app-landing-header>
<div class="container py-4">
   <p class="h3">Our Mentors</p>
   <div class="table-responsive">
      <table class="table table-striped">
         <thead>
            <tr>
               <th scope="col "> </th>
            </tr>
         </thead>
         <tbody>
            <tr  class="top-mentors cursor-pointer "  routerLink="/">
               <th scope="row "></th>
               <td>
                  <mdb-icon fab icon="algolia" class="fa-lg py-2"></mdb-icon>
               </td>
               <td>
                  <p class="h3 py-0 tabl textfont">Siva Krishna, MEAN Stack Developer</p>
                  <mdb-icon fas icon="city" class="fa-m pr-1"></mdb-icon>
                  Right Workz <mdb-icon fas icon="map-marker-alt" class="fa-m px-1">
                  </mdb-icon>Hyderabad<mdb-icon fas icon="suitcase" class="fa-m px-1"></mdb-icon>Designer

               </td>
               <td><button type="button" class="float-right butt" mdbBtn color="light" routerLink="/" mdbWavesEffect>View now</button>
               </td>
            </tr>
            <tr mdbTableCol class="top-mentors cursor-pointer"  routerLink="/">
               <th scope="row"></th>
               <td>
                  <mdb-icon fab icon="algolia" class="fa-lg py-2"></mdb-icon>
               </td>
               <td>
                  <p class="h3 py-0 tabl textfont">Bharath Kumar,UX Designer </p>
                  <mdb-icon fas icon="city" class="fa-m pr-1"></mdb-icon>
                  Imagur <mdb-icon fas icon="map-marker-alt" class="fa-m px-1">
                  </mdb-icon>Hyderabad<mdb-icon fas icon="suitcase" class="fa-m px-1">
                  </mdb-icon> Designer/Creative Head
               </td>
               <td><button type="button" class="float-right butt" mdbBtn color="light"  routerLink="/" mdbWavesEffect>View now</button>
               </td>
            </tr>
            <tr mdbTableCol class="top-mentors cursor-pointer"  routerLink="/">
               <th scope="row"></th>
               <td>
                  <mdb-icon fab icon="algolia" class="fa-lg py-2"></mdb-icon>
               </td>
               <td>
                  <p class="h3 tabl py-0 textfont ">Kavya Davuluri</p>
                  <mdb-icon fas icon="city" class="fa-m pr-1"></mdb-icon>
                  Cyient <mdb-icon fas icon="map-marker-alt" class="fa-m px-1">
                  </mdb-icon>Illinois<mdb-icon fas icon="suitcase" class="fa-m px-1">
                  </mdb-icon> Data Analyst
               </td>
               <td><button type="button" class="float-right  butt" mdbBtn color="light"  routerLink="/" mdbWavesEffect>View now</button>
               </td>
            </tr>
            <tr mdbTableCol class="top-mentors cursor-pointer"  routerLink="/">
               <th scope="row"></th>
               <td>
                  <mdb-icon fab icon="algolia" class="fa-lg py-2"></mdb-icon>
               </td>
               <td>
                  <p class="h3 tabl py-0 textfont">Galidevara Gangadharam, Web Designer & Developer </p>
                  <mdb-icon fas icon="city" class="fa-m pr-1"></mdb-icon>
                  Right workz <mdb-icon fas icon="map-marker-alt" class="fa-m px-1">
                  </mdb-icon>Hyderabad<mdb-icon fas icon="suitcase" class="fa-m px-1">
                  </mdb-icon> Web Developer
               </td>
               <td><button type="button" class="float-right  butt" mdbBtn color="light"  routerLink="/" mdbWavesEffect>View now</button>
               </td>
            </tr>
            <tr mdbTableCol class="top-mentors cursor-pointer "  routerLink="/">
               <th scope="row"></th>
               <td>
                  <mdb-icon fab icon="algolia" class="fa-lg py-2"></mdb-icon>
               </td>
               <td>
                  <p class="h3 tabl py-0  textfont">Madhu Jayavarapu, Full Stack Developer </p>
                  <mdb-icon fas icon="city" class="fa-m pr-1"></mdb-icon>
                  Sastra <mdb-icon fas icon="map-marker-alt" class="fa-m px-1">
                  </mdb-icon>Hyderabad<mdb-icon fas icon="suitcase" class="fa-m px-1">
                  </mdb-icon> Full Stack Engineer
               </td>
               <td><button type="button" class="float-right  butt" mdbBtn color="light"  routerLink="/" mdbWavesEffect>View now</button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div class="py-5">
   <div class="container py-4">
      <p class="h3"> Technologies to Learn</p>
      <div class="row">
         <div class="col-md-4 py-3">
            <mdb-card class="md1  learnContentCards cursor-pointer ">
               <mdb-card-body class="py-5 text-center">
                  <p class="text-white h6 mt-5 text-center">web/software developement</p>

               </mdb-card-body>
            </mdb-card>
         </div>
         <div class="col-md-4 py-3">
            <mdb-card class="md2 learnContentCards cursor-pointer ">
               <mdb-card-body class="py-5">
                  <p class="text-white h6 mt-5 text-center">Data science/Analitics</p>

               </mdb-card-body>
            </mdb-card>
         </div>
         <div class="col-md-4 py-3">
            <mdb-card class="md3  learnContentCards cursor-pointer">
               <mdb-card-body class="py-5">
                  <p class="text-white h6 mt-5 text-center">Acconuting/Consulting</p>

               </mdb-card-body>
            </mdb-card>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 py-3">
            <mdb-card class="md4  learnContentCards cursor-pointer">
               <mdb-card-body class="py-5">
                  <p class="text-white h6 mt-5 text-center">Writing/Translations</p>

               </mdb-card-body>
            </mdb-card>
         </div>
         <div class="col-md-4 py-3">
            <mdb-card class="md5 learnContentCards cursor-pointer">
               <mdb-card-body class="py-5">
                  <p class="text-white h6 mt-5 text-center">sales/marketing</p>

               </mdb-card-body>
            </mdb-card>
         </div>
         <div class="col-md-4 py-3">
            <mdb-card class="md6  learnContentCards  cursor-pointer">
               <mdb-card-body class="py-5">
                  <p class="text-white h6 mt-5 text-center">graphic/design</p>

               </mdb-card-body>
            </mdb-card>
         </div>
      </div>
   </div>
</div>
<div class=" hire-expert py-5 ">
   <div class=" py-5">
      <div class="container py-5">
         <div class=" py-5">
            <p class="h1 text-white para">AImentr is Community of Students. <br>
               Learn & Mentored with Top Industry Experts.</p><br>
            <p class=" h6 text-white">aimentr is built out of passion to globalise education<br>
               Where Passionate Learners can build a better world <br>
               with this intelligent platform on your side, achive your goals with passion.</p><br>
            <button type="button" mdbBtn color="primary" class=" mx-0" routerLink="/register" mdbWavesEffect>Get
               started</button>
         </div>
      </div>
   </div>
</div>
<div class="py-3">
   <div class="container py-2">
      <p class="h2">The Unique Tech</p>

      <div class="row">
         <div class="col-md-4 py-3">
            <mdb-card class="mdb py-5 learnContentCards cursor-pointer">
               <mdb-card-body class="py-5">
                  <p class="text-white pt-5 mt-5">Collaborative Coding</p>
                  <p class="text-white h6">Get Collaborated with your Friends<br>& mentors</p>
                  <p class="text-white">Learning programming with intelligent <br>Collaborative Editor Shared commonly
                     <br>with mentor and learners</p>
               </mdb-card-body>
            </mdb-card>
         </div>
         <div class="col-md-4 py-3">
            <mdb-card class="mdb1 py-5 learnContentCards cursor-pointer ">
               <mdb-card-body class="py-5">
                  <p class="text-white pt-5 mt-5">Machine Translation</p>
                  <p class="text-white h6">16 rediculous easy way to<br>find and keep a remote job</p>
                  <p class="text-white">distentively reeengineer revolutionary<br>meta services and
                     premium<br>architecture intuitive oppurtunities</p>
               </mdb-card-body>
            </mdb-card>
         </div>
         <div class="col-md-4 py-3">
            <mdb-card class="mdb2 py-5 learnContentCards cursor-pointer">
               <mdb-card-body class="py-5">
                  <p class="text-white pt-5 mt-5">Socialised Learning</p>
                  <p class="text-white h6">16 rediculous easy way to<br>find and keep a remote job</p>
                  <p class="text-white">distentively reeengineer revolutionary<br>meta services and
                     premium<br>architecture intuitive oppurtunities</p>
               </mdb-card-body>
            </mdb-card>
         </div>
      </div>
   </div>
</div>
<div class="elegant-color">
   <div class="container py-4">
      <div class="row ">
         <div class="col-md-7 py-2">
            <img src="/assets/logo_full.png" class="img-fluid" width="200px">
         </div>
         <div class="col-md-4 mx-4 py-2">
            <div class="row py-2">
               <div class="col-2">
                  <a href="Javascript:Void(0)">
                     <mdb-icon fab icon="github fa-2x" class="blue-text"></mdb-icon>
                  </a>
               </div>

               <div class="col-2">
                  <a href="Javascript:Void(0)">
                     <mdb-icon fab icon="linkedin-in fa-2x" class="blue-text"></mdb-icon>
                  </a>
               </div>
               <div class="col-2">
                  <a href="Javascript:Void(0)">
                     <mdb-icon fas icon="globe fa-2x" class="blue-text"></mdb-icon>
                  </a>
               </div>
               <div class="col-2">
                  <a href="Javascript:Void(0)">
                     <mdb-icon fab icon="stack-overflow fa-2x" class="blue-text">
                     </mdb-icon>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-12 py-4 text-white">
         <div class="list">
            <div class="row">
               <div class="col-md-2">
                  <ul style="list-style-type:none;">
                     <h3>For Candidates</h3>
                     <li>Browse Jobs</li>
                     <li>Add Resume</li>
                     <li>Job Alerts</li>
                     <li>My Bookmarks</li>

                  </ul>
               </div>
               <div class="col-md-2">
                  <ul style="list-style-type:none">
                     <h3>For Employers</h3>
                     <li>Browse Candidates</li>
                     <li>Post a Job</li>
                     <li>Post a Task</li>
                     <li> Plans & Pricing</li>

                  </ul>
               </div>
               <div class="col-md-2">
                  <ul style="list-style-type:none">
                     <h3>Helpful Links</h3>
                     <li>Contact</li>
                     <li>Privacy Policy</li>
                     <li>Terms of Use</li>

                  </ul>
               </div>
               <div class="col-md-2">
                  <ul style="list-style-type:none">
                     <h3>Account</h3>
                     <li>Log in</li>
                     <li>My Account</li>
                  </ul>
               </div>
               <div class="col-md-4">
                  <ul style="list-style-type:none">
                     <h3> Sign Up For a Newsletter</h3>
                     <li>Weekly breaking news, analysis and cutting</li>
                     <li>edge advices on job searching.

                     </li>
                     <li class="py-2">
                        <form action="#" method="get" class="newsletter">
                           <input mdbInput type="email" class="form-control" class="w-75 " id="inputEmail4"
                              placeholder="Email">
                           <button type="submit">
                              <mdb-icon fas icon="arrow-right"></mdb-icon>
                           </button>
                        </form>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>