<div class="page">
   <div class="col-12">
      <img src="/assets/logo_full.png">
      <div class="btn"><button mat-raised-button color="warn">Sign up</button>
         <button class="butt" mat-raised-button>Log in</button></div>
   </div>
   <div class="container">
      <div class="col-12">
         <img class="brain-img" src="/assets/brain.png">
         <h1>Welcome to </h1>
         <h1>Social Learning Network</h1>
         <h2 class="text">
            India's 1st socialized learning network Lorem ipsum dolar sit amet, consectetur adipiscing elit.Cras non
            ipsum nibh
            Phasellus aliquam sed ligula a consectetur.Cras massa justo, dictum vehicula ornare sit amet,efficitur vel
            ligula.
            Nunc eget purus massa.nullam dictum scelerisque elit,et malesuada felis hendrerit vel.Class aptent taciti
            sociosquad litora torquent
         </h2>
         <button mat-raised-button color="primary">Get started</button>
      </div>
   </div>
   <div class="chips">
      <div class="row">
         <div class="col-6">
            <mat-chip-list aria-label="Fish selection">
               <mat-chip>Artificial Intelligence</mat-chip>
               <mat-chip>Mean stack</mat-chip><br>
               <mat-chip>Phyton Programming</mat-chip>
               <mat-chip>Business Intelligence</mat-chip>
               <mat-chip>Web develope ment</mat-chip><br><br>
               <mat-chip>NodeJs</mat-chip>
               <mat-chip>Business Intelligence</mat-chip>
            </mat-chip-list>
         </div>
         <div class="col-6">
            <p>Find Your Mentor</p>
            <p>Course to learn</p>
         </div>
      </div>
   </div>
   <div class="container1">
      <div class="col-10">
         <img class="help-img" src="/assets/Layer.png">
         <div class="help-p">
            <p>Connect with People</p>
            <p>Who can help</p>
            <button class="get-btn" mat-raised-button color="primary">Get started</button>
         </div>
   </div>
</div>
   <div>

   </div>
   <div>
      <video controls>
         <source src="movie.mp4" type="video/mp4">
         <source src="movie.ogg" type="video/ogg">
         Your browser does not support the video tag.
      </video>
   </div>
   <div class="container">
      <div class="col-10">
         <div class="text">
            <img class="vamsi" src="/assets/vamsi.jpg">
            <div class="heading">
               <h1>Aarun was matched </h1>
               <h1>With a Recruiter</h1>
            </div>
            <h2>
               "I was having a very hard time finding a job.
               a supervisor reached out to me om LinkedIn.we set up an interview and form their
               I was hired.LinkedIn was the matchmaker "</h2>
            <div class="text2">
               <h2>Aaron pagan</h2>
               <h2>Accesibility Technology Sales</h2>
            </div>
            <button mat-raised-button color="primary">Get started</button>
         </div>
      </div>
      <div class="join">
         <div>
         <h2>Join Us</h2>
         <p>Help us build a decentralized future.Find your spot in the Mesh</p>
         <select id="cars">
            <option value="volvo">Filter by Team</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
         </select>
         <select id="cars">
            <option value="volvo">Filter by Location</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
         </select>
   </div>
   </div>
      <div class="bottom">
         <img src="/assets/logo_full.png">
         <div class="list">
            <ul style="list-style-type:none;">
               <h3>circles</h3>
               <li>Academy</li>
               <li>Capital</li>
               <li>Careers</li>
               <li>Design</li>
               <li>Diligence</li>
               <li>Labs</li>
               <li>Social Impact</li>
               <li>Solutions</li>
            </ul>
            <ul style="list-style-type:none">
               <h3>Company</h3>
               <li>About</li>
               <li>Open Roles</li>
               <li>Contact</li>
               <li>Press</li>
               <li>Ethereal</li>
               <li>Media</li>
               <li>The Brooklyn Project</li>
               <li>Privacy Policy</li>
               <li>Terms Of Use</li>
            </ul>
            <ul style="list-style-type:none">
               <h3>Social</h3>
               <li>Twitter</li>
               <li>LinkedIn</li>
               <li>Facebook</li>
               <li>Instagram</li>
               <li>YouTube</li>
            </ul>
         </div>
      </div>
   </div>