<div class="landing">
   <div class="bak-gr pt-3">
      <div class="col-12">
         <div class="btn">
            <button mat-raised-button routerLink="/login">Log in</button>
            <button class="butt" mat-button routerLink="/register">Register</button></div>
         
         <div class="w-25 text-center">
         <img src="/assets/logo_full.png" width="180px" >
         </div>
         
      </div>
      <div class="container no-gutters ">
         <div class="col-12">
            <h1>Welcome to </h1>
            <h1>Social Learning Network</h1>
            <p class="text">
               Lorem ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <button mat-raised-button color="warn">Get started<mat-icon>arrow_forward
               </mat-icon>
            </button>
         </div>
      </div>
   </div>
   <div class="container-card">
      <div class="row no-gutters">
         <header class="section-head">
            <h1 class="section-title text-center">
   Welcome To The Event<br> That Will Transform The Way You Do Business.
            </h1>

            <div class="section-head-actions text-center">
               Canadian Business Conference, organized by CBC Canada, will take place in Montréal, Canada on October 8-11th 2017 and will be coordinated by Joe Doe (WPlook Studio inc). We invite you to join us at the event in Montréal and would like to emphasize that proposals from different parts of the world are welcomed. We sincerely hope to see you there!
            </div><!-- /.section-head-actions -->
         </header>
         <div class="col-sm-4">
            <img src="/assets/intelligent.png" width="50px"><br>
            <h4>Intelligent</h4>
            <h4> Recommandations</h4>
            <p><strong>Lorem ipsum</strong> is simply dummy text of the printing
               and typesetting industry.Lorem ipsum has been the industry's standard
               dummy text ever since the 1500s.
            </p>
         </div>
         <div class="col-sm-4">
            <img src="/assets/machine_translation.png" width="50px"><br>
            <h4>Machine</h4>
            <h4>Translation</h4>
            <p><strong>Lorem ipsum</strong> is simply dummy text of the printing
               and typesetting industry.Lorem ipsum has been the industry's standard
               dummy text ever since the 1500s.
            </p>
         </div>
         <div class="col-sm-4">
            <img src="/assets/braini.png" width="50px"><br>
            <h4>Intelligent</h4>
            <h4> Recommandations</h4>
            <p><strong>Lorem ipsum</strong> is simply dummy text of the printing
               and typesetting industry.Lorem ipsum has been the industry's standard
               dummy text ever since the 1500s.
            </p>
         </div>
      </div>

   </div>
   <div class="container-chips">
      <div class="row no-gutters">
         <div class="col-sm-5">
            <h2>Find Your Perfect Mentor</h2>
            <h2>For right skill</h2>
         </div>
         <div class="col-sm-4">
            <mat-chip-list aria-label="Fish selection">
               <mat-chip>Artificial Intelligence</mat-chip>
               <mat-chip>Mean stack</mat-chip><br><br>
               <mat-chip>Phyton Programming</mat-chip>
               <mat-chip>Business Intelligence</mat-chip>
               <mat-chip>Web develope ment</mat-chip><br><br>
               <mat-chip>NodeJs</mat-chip>
               <mat-chip>Business Intelligence</mat-chip>
            </mat-chip-list>
         </div>
      </div>
   </div>
   <div class="container-world">
      <div class="row no-gutters">
         <div class="col-sm-8">
            <h2>Post your Course and Let world</h2>
            <h2>Learn a skill Becoming a Mentor</h2>
         </div>
         <div class="col-sm-3">
            <button mat-raised-button color="warn">post your course</button>
         </div>
      </div>
   </div>

   <div class="container-connect">
      <div class="row no-gutters">
         <div class="col-sm-5 col-md-6 col-lg-4">
            <h2>Connect to world community</h2>
            <h2>Students &Learners</h2>
            <h2>Get collaborated learn with</h2>
            <h2>Realtime Project & Real</h2>
            <h2>Collaborations</h2>
         </div>
         <div class="col-sm-7 col-md-5 col-lg-8">
            <img   src="/assets/Layer2.png">
      </div>
      </div>
   </div>
   <div class="container-noel">
      <div class="row no-gutters">
         <div class="col-sm-6 col-md-6 col-lg-6">
            <h1>Noel got out of unemployment </h1>
            <h2>
               "I was having a very hard time finding a job.
               a supervisor reached out to me om LinkedIn.we set up an interview and form their
               I was hired.LinkedIn was the matchmaker"</h2>
            <p>Noel DebowVisual</p>
            <p>I ended up Getting the job</p>
         </div>
         <div class="col-sm-6 col-md-5 col-lg-5">
            <img class="student" src="/assets/student.jpg">
         </div>
      </div>
   </div>
  <div class="container-bottom">
     <div class="col-sm-8">
     <div class="row no-gutters">
      <img src="/assets/logo_full.png">
      <div class="list">
         <ul style="list-style-type:none;">
            <h3>circles</h3>
            <li>Academy</li>
            <li>Capital</li>
            <li>Careers</li>
            <li>Design</li>
            <li>Diligence</li>
            <li>Labs</li>
            <li>Social Impact</li>
            <li>Solutions</li>
         </ul>
         <ul style="list-style-type:none">
            <h3>Company</h3>
            <li>About</li>
            <li>Open Roles</li>
            <li>Contact</li>
            <li>Press</li>
            <li>Ethereal</li>
            <li>Media</li>
            <li>The Brooklyn Project</li>
            <li>Privacy Policy</li>
            <li>Terms Of Use</li>
         </ul>
         <ul style="list-style-type:none">
            <h3>Social</h3>
            <li>Twitter</li>
            <li>LinkedIn</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>YouTube</li>
         </ul>
      </div>
     </div>
  </div>
</div>  
</div>