.sessionCards {
    height: 200px;
    border-bottom: 2px solid #ec407a;
    cursor: pointer;
}

.TitleCards{
   
}
.SyllabusCards{
    // border-bottom: 2px solid #ec407a;
}

.AddcourseBtn{
    width: 30px;
    height: 30px;
}

// .mat-form-field + .mat-form-field {
//     margin-left: 8px;
//   }


// ngClasses
.SelectedSession{
border-top: 2px solid #14dcff;
border-left: 2px solid #14dcff;
border-right: 2px solid #14dcff;
}


.EditMode{
    pointer-events: none;
}