<div class="container py-5">
    <div class="row">
        <div class="col-md-12">

            <mdb-card class="my-4">
                <mdb-card-body>
                    <div class="row py-3">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="./assets/professional.png" class="profile img-fluid rounded-circle"
                                        alt="user" width="150px" height="150px">
                                </div>
                                <div class="col-md-8">
                                    <div class="row ">
                                        <p class="h3 pb-0 text-uppercase"> <b>{{userInfo.firstname}}
                                                {{userInfo.lastname}}</b></p>
                                        <!-- <div class="col-md-9">
                                            
                                        </div> -->
                                        <!-- <div class="col-md-3 py-1">
                                            <h3><b>$44/hr</b></h3>
                                        </div> -->
                                    </div>
                                    <h3 class="mb-0">{{userInfo.personal.about}}</h3>
                                    <!-- <p class="blue-text">Epic Coders</p> -->
                                    <div>

                                        <button type="button" mdbBtn size="sm" color="primary" class="rounded ml-0"
                                            outline="true" mdbWavesEffect>View Profile</button>
                                        <!-- <button type="button" mdbBtn size="sm" color="success" class="rounded"
                                            outline="true" mdbWavesEffect>message</button> -->
                                    </div>

                                </div>
                                <div class="col-md-1" class="border-right d-xs-none"></div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-6">
                                    <p class="h6">Availability:</p>
                                </div>
                                <div class="col-6 ">
                                    <!-- <div class="row">
                                        <div class="col-9 mr-0 pr-0"> -->
                                            <p><span class="badge badge-pill badge-success">Active</span></p>
                                        </div>
                                        <!-- <div class="col-3 mx-0 px-0">
                                            <span class="badge badge-pill badge-success">Active</span>
                                        </div> -->
                                    <!-- </div>
                                </div> -->
                            </div>
                            <!-- <div class="row">
                                <div class="col-6">
                                    <p class="h6">Age:</p>
                                </div>
                                <div class="col-2">
                                    <p>30</p>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-6">
                                    <p class="h6">Location:</p>
                                </div>
                                <div class="col-5">
                                    <p> {{userInfo.personal.location}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="px-0 mx-0"><b>Years of experience:</b></p>
                                </div>
                                <div class="col-4">
                                    <p>6</p>
                                </div>
                            </div>
                            <div class="row py-3">
                                <div class="col-2">
                                    <a href="Javascript:Void(0)">
                                        <mdb-icon fab icon="github fa-2x" class="blue-text"></mdb-icon>
                                    </a>
                                </div>

                                <div class="col-2">
                                    <a href="Javascript:Void(0)">
                                        <mdb-icon fab icon="linkedin-in fa-2x" class="blue-text"></mdb-icon>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <a href="Javascript:Void(0)">
                                        <mdb-icon fas icon="globe fa-2x" class="blue-text"></mdb-icon>
                                    </a>
                                </div>
                                <div class="col-2">
                                    <a href="Javascript:Void(0)">
                                        <mdb-icon fab icon="stack-overflow fa-2x" class="blue-text">
                                        </mdb-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>

        </div>
    </div>




    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 my-4">

                    <h2>My Courses</h2>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button mdbBtn type="button" color="cyan" size="sm" class="waves-light" mdbWavesEffect
                            [ngClass]="{'btn-outline-cyan': !OfflinecoursesView}" (click)="OffLineCourses()">Offline
                            Courses </button>
                        <button mdbBtn type="button" color="cyan" size="sm" class="waves-light" mdbWavesEffect
                            [ngClass]="{'btn-outline-cyan': OfflinecoursesView}" (click)="OnlineCourses()">Online
                            Session</button>

                    </div>

                </div>

                <div class="col-md-12">
                    <div class="row" *ngIf="OfflinecoursesView">
                        <div class="col-md-6 my-3" *ngFor="let item of OfflineCoursesList">
                            <mdb-card class="learnContentCards">
                                <mdb-card-body class="px-5">
                                    <h2 class="text-uppercase pl-0">{{item.courseName}}</h2>
                                    <mdb-card-text>
                                        <div class="row text-uppercase my-4">
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-3 text-center pt-2 p-0">
                                                        <mdb-icon far icon="window-restore" size="2x"></mdb-icon>
                                                    </div>
                                                    <div class="col-9 pl-2">
                                                        <small class="grey-text"> Course Type </small>
                                                        <h5>{{item.courseType}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-3 text-center pt-2 p-0">
                                                        <mdb-icon fas icon="sort-amount-up-alt" size="2x"></mdb-icon>
                                                    </div>
                                                    <div class="col-9 pl-2">
                                                        <small class="grey-text"> Level </small>
                                                        <h5>{{item.skillLevel}} </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row">
                                                    <div class="col-3 text-center pt-2 p-0">
                                                        <mdb-icon fas icon="hand-holding-usd" size="2x"></mdb-icon>
                                                    </div>
                                                    <div class="col-9 pl-3 pr-0">
                                                        <small class="grey-text"> Cost </small>
                                                        <h5>{{item.cost}}</h5>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row text-uppercase">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <small class="grey-text"> duration </small>
                                                    </div>
                                                    <div class="col-6  pr-0">
                                                        <p class="h1">{{item.duration}}</p>
                                                    </div>
                                                    <div class="col-6 pl-0 pt-1">
                                                        <mdb-icon far icon="calendar" class="amber-text"></mdb-icon>
                                                        <h6>days</h6>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-8 mt-4">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <mat-progress-bar mode="determinate" color="primary"
                                                            value="{{item.CompletedDuration}}"></mat-progress-bar>
                                                    </div>
                                                    <div class="col-6">
                                                        <small class="grey-text ">
                                                            {{item.startDate | date : 'MMM d, y'}}
                                                        </small>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <small class="grey-text"> {{item.endDate | date : 'MMM d, y'}}
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4 justify-content-end">
                                            <!-- <div class="col-6">
                                        <button mdbBtn type="button" block="true" color="info" outline="true"
                                            size="sm" class="px-1" mdbWavesEffect>go to classroom</button>
                                    </div> -->
                                            <div class="col-7">
                                                <button mdbBtn type="button" block="true" color="info" outline="true"
                                                    size="sm" mdbWavesEffect (click)="gotocalssroom(item)">Go to
                                                    classroom</button>
                                            </div>
                                        </div>
                                    </mdb-card-text>
                                </mdb-card-body>
                            </mdb-card>

                        </div>

                        <div class="col-md-12 my-3" *ngIf="OfflineCoursesList.length == 0">
                            <mdb-card>
                                <mdb-card-body class="py-5">
                                    <p class="h4 text-center"> You don't have any offline courses ! </p>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </div>


                    <div class="row" *ngIf="!OfflinecoursesView">
                        <div class="col-md-6 my-3" *ngFor="let item of OnlineCoursesList">
                            <mdb-card class="learnContentCards">
                                <mdb-card-body class="px-5">
                                    <mdb-card-title>
                                        <h2 class="py-3 border-bottom">Ongoing Lecture</h2>
                                    </mdb-card-title>
                                    <mdb-card-text>
                                        <div class="col-md-12">
                                            <div class="row py-3 mb-3 border-bottom">
                                                <div class="col-7 px-2 ">
                                                    <h3 class="py-0"><b>Force and momentum Revision</b></h3>
                                                    <P>Physics</P>
                                                </div>
                                                <div class="col-5">
                                                    <div class="btn-group rounded  float-right" role="group"
                                                        aria-label="Basic example">
                                                        <button mdbBtn type="button" color="primary" size="sm"
                                                            class="waves-light " mdbWavesEffect>
                                                            <mdb-icon fas icon="play"></mdb-icon>
                                                        </button>
                                                        <button mdbBtn type="button" color="primary" size="sm"
                                                            class="waves-light" mdbWavesEffect>Join</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row ">
                                                <div class="col-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-5">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-2 py-0 "
                                                        size="sm" mdbWavesEffect>Medium</button>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-5">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-2 py-0 "
                                                        size="sm" mdbWavesEffect>Medium</button>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-5">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-2 py-0 "
                                                        size="sm" mdbWavesEffect>Medium</button>
                                                </div>
                                            </div>
                                        </div>
                                    </mdb-card-text>

                                </mdb-card-body>
                            </mdb-card>

                        </div>
                        <div class="col-md-12 my-5" *ngIf="OnlineCoursesList.length == 0">
                            <mdb-card>
                                <mdb-card-body class="py-5">
                                    <p class="h4 text-center"> You don't have any online courses ! </p>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </div>


                </div>

                <!-- <div class="col-md-4 mb-5">
                    <mdb-card class="learnContentCards cursor-pointer px-0" data-toggle="modal">
                        <mdb-card-body class="courseCardsBody py-0 px-0">
                            <img src="/assets/lab.png" class="img-fluid px-0" alt="user" width="400px">
                            <mdb-card-title>
                                <h2 class="pt-3 px-2 pb-0">Basic Chemistry</h2>
                                <p class="px-2">Intro to cross paltform Game development
                                    ntro to cross paltform Game development</p>
                            </mdb-card-title>
                            <mdb-card-text>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 px-2 py-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                                class="img-fluid  rounded-circle z-depth-0" alt="user">
                                        </div>
                                        <div class="col-md-9 ">
                                            <h3 class=" mb-0"><b>Hellen Campbell</b></h3>
                                            <h4>3 days ago</h4>
                                        </div>
                                    </div>
                                </div>
                            </mdb-card-text>
                        </mdb-card-body>
                    </mdb-card>
                </div> -->
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class=" row">
                <div class="col-md-7">
                    <div class="row">

                        <div class="col-md-12">
                            <h1><b>AssignMent Manager</b></h1>
                        </div>
                        <div class="col-12">
                            <mat-tab-group dynamicHeight>
                                <mat-tab label="Pending">
                                    <mdb-card class=" px-0" data-toggle="modal">
                                        <mdb-card-body class="courseCardsBody py-0 px-0">
                                            <div class="row py-3">
                                                <div class="col-9">
                                                    <p class="grey-text px-4">Test name</p>
                                                </div>
                                                <div class="col-3 float-right ">
                                                    <p class="grey-text px-2">Status</p>
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col-9">
                                                    <div class="row px-3">
                                                        <p class="col-6 h6"><b>Basic Physics ||</b></p>
                                                        <div class="col-5 px-0 progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <p class="col-12 grey-text ">Final assisment | Due
                                                            tomorrow</p>
                                                    </div>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button mdbBtn type="button" class="rounded float-right mr-2"
                                                        size="sm" color="warning" outline="true"
                                                        mdbWavesEffect>Resume</button>
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col-9">
                                                    <div class="row px-3">
                                                        <p class="col-6 h6 "><b>Basic Physics ||</b></p>
                                                        <div class="col-5 px-0 progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <p class="col-12 grey-text ">Final assisment | Due
                                                            tomorrow</p>
                                                    </div>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button mdbBtn type="button" class="rounded float-right mr-3"
                                                        size="sm" color="primary" outline="true"
                                                        mdbWavesEffect>Start</button>
                                                </div>
                                            </div>
                                        </mdb-card-body>
                                    </mdb-card>
                                </mat-tab>
                                <mat-tab label="Completed">
                                    <mdb-card class=" px-0" data-toggle="modal">
                                        <mdb-card-body class="courseCardsBody py-0 px-0">
                                            <div class="row py-3">
                                                <div class="col-9">
                                                    <p class="grey-text px-4">Test name</p>
                                                </div>
                                                <div class="col-3  float-right">
                                                    <p class="grey-text px-2">Status</p>
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col-9">
                                                    <div class="row px-3">
                                                        <p class="col-6 h6 "><b>Basic Physics ||</b></p>
                                                        <div class="col-5 px-0 progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <p class="col-12 grey-text ">Final assisment | Due
                                                            tomorrow</p>
                                                    </div>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button mdbBtn type="button" class="rounded float-right mr-2"
                                                        size="sm" color="warning" outline="true"
                                                        mdbWavesEffect>Resume</button>
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col-9">
                                                    <div class="row px-3">
                                                        <p class="col-6 h6 "><b>Basic Physics ||</b></p>
                                                        <div class="col-5 px-0 progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <p class="col-12 grey-text ">Final assisment | Due
                                                            tomorrow</p>
                                                    </div>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button mdbBtn type="button" class="rounded float-right mr-3"
                                                        size="sm" color="primary" outline="true"
                                                        mdbWavesEffect>Start</button>
                                                </div>
                                            </div>
                                        </mdb-card-body>
                                    </mdb-card>
                                </mat-tab>
                                <mat-tab label="Submitted">
                                    <mdb-card class=" px-0" data-toggle="modal">
                                        <mdb-card-body class="courseCardsBody py-0 px-0">
                                            <div class="row py-3">
                                                <div class="col-9">
                                                    <p class="grey-text px-4">Test name</p>
                                                </div>
                                                <div class="col-3 float-right">
                                                    <p class="grey-text px-2 ">Status</p>
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col-9">
                                                    <div class="row px-3">
                                                        <p class="col-6 h6 "><b>Basic Physics ||</b></p>
                                                        <div class="col-5 px-0 progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <p class="col-12 grey-text ">Final assisment | Due
                                                            tomorrow</p>
                                                    </div>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button mdbBtn type="button" class="rounded float-right mr-2"
                                                        size="sm" color="warning" outline="true"
                                                        mdbWavesEffect>Resume</button>
                                                </div>
                                            </div>
                                            <div class="row py-2">
                                                <div class="col-9">
                                                    <div class="row px-3">
                                                        <p class="col-6 h6"><b>Basic Physics ||</b></p>
                                                        <div class="col-5 px-0 progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                style="width: 50%" aria-valuenow="25" aria-valuemin="0"
                                                                aria-valuemax="100"></div>
                                                        </div>
                                                        <p class="col-12 grey-text ">Final assisment | Due
                                                            tomorrow</p>
                                                    </div>
                                                </div>
                                                <div class="col-3 py-0">
                                                    <button mdbBtn type="button" class="rounded float-right mr-3"
                                                        size="sm" color="primary" outline="true"
                                                        mdbWavesEffect>Start</button>
                                                </div>
                                            </div>
                                        </mdb-card-body>
                                    </mdb-card>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><b>Live Session</b></h1>
                        </div>
                        <div class="col-md-12">
                            <mdb-card class=" px-0" data-toggle="modal">
                                <mdb-card-body class="courseCardsBody py-0 px-0">
                                    <mdb-card-title>
                                        <h2 class="pt-3 px-3 pb-0">Ongoing Lecture</h2>
                                        <hr>
                                    </mdb-card-title>
                                    <mdb-card-text>
                                        <div class="col-12">
                                            <div class="row py-3">
                                                <div class="col-7 px-2 ">
                                                    <h3 class="py-0"><b>Force and momentum Revision</b></h3>
                                                    <P>Physics</P>
                                                </div>
                                                <div class="col-5">
                                                    <div class="btn-group rounded  float-right" role="group"
                                                        aria-label="Basic example">
                                                        <button mdbBtn type="button" color="primary" size="sm"
                                                            class="waves-light " mdbWavesEffect>
                                                            <mdb-icon fas icon="play"></mdb-icon>
                                                        </button>
                                                        <button mdbBtn type="button" color="primary" size="sm"
                                                            class="waves-light" mdbWavesEffect>Join</button>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-4">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-2 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-2 py-0 "
                                                        size="sm" mdbWavesEffect>Medium</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-4">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>
                                                </div>
                                                <div class="col-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-2 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-3 py-0 "
                                                        size="sm" mdbWavesEffect>Hard</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-4">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-2 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-2 py-0 "
                                                        size="sm" mdbWavesEffect>Medium</button>
                                                </div>
                                            </div>
                                        </div>
                                    </mdb-card-text>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>