<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <mdb-card class=" col-md-10 my-3 py-3 stiky-top">
            <mdb-card-body>
                <mdb-card-title>
                    <div class="container-fluid mb-2">
                        <div class="row py-3">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class=" col-md-3 ">
                                        <img src="./assets/professional.png" class=" profile img-fluid rounded-circle" alt="user"
                                            >
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row ">
                                            <div class="col-md-9">
                                                <p class="h3 pb-0"> <b>Svetlana Anyukova</b></p>
                                            </div>
                                            <div class="col-md-3 py-1">
                                                <h3><b>$44/hr</b></h3>
                                            </div>
                                        </div>
                                        <h4 class="mb-0">Full stack web developer</h4>
                                        <p style="color:blue">Epic Coders</p>
                                        <button type="button" mdbBtn color="success" class="rounded ml-0" size="m"
                                            mdbWavesEffect>Follow</button>
                                        <button type="button" mdbBtn color="primary" class="rounded ml-0" outline="true"
                                            size="m" mdbWavesEffect>Message</button>
                                    </div>
                                    <div class="col-md-1" class="v1-right d-xs-none"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="h6">Availability:</p>
                                    </div>
                                    <div class="col-6 ">
                                        <div class="row">
                                        <div class="col-9 mr-0 pr-0">
                                        <p> Full-time(40hr/wk)</p>
                                    </div>
                                    <div class="col-3 mx-0 px-0">

                                            <span class="badge badge-pill badge-success">Active</span>
                                    </div>
                                </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="h6">Age:</p>
                                    </div>
                                    <div class="col-2">
                                        <p>30</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="h6">Location:</p>
                                    </div>
                                    <div class="col-5">
                                        <p>Hyderabad,India</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="px-0 mx-0"><b>Years of experience:</b></p>
                                    </div>
                                    <div class="col-4">
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="github fa-2x"></mdb-icon>
                                    </div>

                                    <div class="col-2">
                                        <mdb-icon  class="ico" fab icon="twitter-square fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="facebook-square fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="linkedin-in fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fas icon="globe fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="stack-overflow fa-2x"></mdb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-card-title>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="row justify-content-center">
        <mdb-card class=" col-md-10 my-3 stiky-top">
            <mdb-card-body>
                <mdb-card-title>
                    <div class="container-fluid py-3">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h2>ABOUT</h2>
                            </div>
                            <div class="col-md-12">
                                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt
                                    Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco. Ut enim ad minim veniam,
                                    quis nostrud
                                    exercitation ullamco. ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis
                                    nostrud
                                    exercitation ullamco.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 py-3">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <h2>SKILLS</h2>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">UI</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">Android</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1"><a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">JavaScript</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">PHP</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2 py-1 ">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">UX</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">C#</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">IOS</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">C++</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">JAVA</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class=" badges py-3" pill="true" default="true">IOS</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">Python</mdb-badge>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <hr>
                            </div>
                        </div>
                    </div>
                </mdb-card-title>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>