.ico{
    color:blue ;
    width: 90px !important;
}
.vl{
    height: 180px;
    border-left: 1px solid grey;
}
.badges{
    width: 150px;
}
.profile {
height: 130px;
width: 130px;
}
.starsymbol{
color:#febe42;
}
.student{
   background:  linear-gradient(to right,rgba(247,247,247,1) 50%,rgba(247,247,247,0.8) 70%,rgba(247,247,247,0.8) 90%);
    background-image: linear-gradient(to right, rgb(247, 247, 247) 50%, rgba(247, 247, 247, 0.8) 70%, rgba(247, 247, 247, 0.8) 90%);
}
.tex{
    font-size: 16px;
    line-height: 27px;
    font-family: "Nunito", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.thumb{
    color: blue;
}