<!-- <div class="container-fluid py-5">
    <div class="row justify-content-center">
        <mdb-card class=" col-md-10 my-3 py-3 stiky-top">
            <mdb-card-body>
                <mdb-card-title>
                    <div class="container-fluid mb-2">
                        <div class="row py-3">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class=" col-md-3 ">
                                        <img src="./assets/professional.png" class=" profile img-fluid rounded-circle" alt="user"
                                            >
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row ">
                                            <div class="col-md-9">
                                                <p class="h3 pb-0"> <b>Svetlana Anyukova</b></p>
                                            </div>
                                            <div class="col-md-3 py-1">
                                                <h3><b>$44/hr</b></h3>
                                            </div>
                                        </div>
                                        <h4 class="mb-0">Full stack web developer</h4>
                                        <p style="color:blue">Epic Coders</p>
                                        <button type="button" mdbBtn color="success" class="rounded ml-0" size="m"
                                            mdbWavesEffect>Follow</button>
                                        <button type="button" mdbBtn color="primary" class="rounded ml-0" outline="true"
                                            size="m" mdbWavesEffect>Message</button>
                                    </div>
                                    <div class="col-md-1" class="v1-right d-xs-none"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-6">
                                        <p class="h6">Availability:</p>
                                    </div>
                                    <div class="col-6 ">
                                        <div class="row">
                                        <div class="col-9 mr-0 pr-0">
                                        <p> Full-time(40hr/wk)</p>
                                    </div>
                                    <div class="col-3 mx-0 px-0">

                                            <span class="badge badge-pill badge-success">Active</span>
                                    </div>
                                </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="h6">Age:</p>
                                    </div>
                                    <div class="col-2">
                                        <p>30</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="h6">Location:</p>
                                    </div>
                                    <div class="col-5">
                                        <p>Hyderabad,India</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="px-0 mx-0"><b>Years of experience:</b></p>
                                    </div>
                                    <div class="col-4">
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="github fa-2x"></mdb-icon>
                                    </div>

                                    <div class="col-2">
                                        <mdb-icon  class="ico" fab icon="twitter-square fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="facebook-square fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="linkedin-in fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fas icon="globe fa-2x"></mdb-icon>
                                    </div>
                                    <div class="col-2">
                                        <mdb-icon class="ico" fab icon="stack-overflow fa-2x"></mdb-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mdb-card-title>
            </mdb-card-body>
        </mdb-card>
    </div>
    <div class="row justify-content-center">
        <mdb-card class=" col-md-10 my-3 stiky-top">
            <mdb-card-body>
                <mdb-card-title>
                    <div class="container-fluid py-3">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <h2>ABOUT</h2>
                            </div>
                            <div class="col-md-12">
                                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt
                                    Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing
                                    elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco. Ut enim ad minim veniam,
                                    quis nostrud
                                    exercitation ullamco. ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis
                                    nostrud
                                    exercitation ullamco.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12 py-3">
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <h2>SKILLS</h2>
                            </div>
                            <div class="row py-2">
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">UI</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">Android</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1"><a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">JavaScript</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">PHP</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2 py-1 ">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">UX</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">C#</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">IOS</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">C++</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">JAVA</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class=" badges py-3" pill="true" default="true">IOS</mdb-badge>
                                    </a>
                                </div>
                                <div class="col-md-2 py-1">
                                    <a href="">
                                        <mdb-badge class="badges py-3" pill="true" default="true">Python</mdb-badge>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 py-3">
                                <hr>
                            </div>
                        </div>
                    </div>
                </mdb-card-title>
            </mdb-card-body>
        </mdb-card>
    </div>
</div> -->
<div class="student">
    <div class="container py-5">
        <div class="row">
            <div class=" col-md-2 text-center py-3">
                <img src="./assets/professional.png" class="profile img-fluid rounded-circle" alt="user">
            </div>
            <div class="col-md-4 py-4">
                <p class="h2 text-uppercase">priya </p>
                <p class="grey-text">iOS Expert + Node Dev</p>
                <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                <img src="/assets/flag.png" class="img-fluid mx-2 " width="30px">
                <mdb-badge success="true" class="py-2 px-2">
                    <mdb-icon fas icon="check" class="mr-1"></mdb-icon>Verified
                </mdb-badge>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-8">
                <div class="">
                    <p class="h4 py-3">About Me</p>
                    <p class="pb-3 tex">Leverage agile frameworks to provide a robust synopsis for high level overviews.
                        Iterative approaches to corporate strategy foster collaborative thinking to further the overall
                        value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and
                        empowerment.</p>
                    <p class="pb-5 tex">Capitalize on low hanging fruit to identify a ballpark value added activity to beta
                        test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology
                        immersion
                        along the information highway will close the loop on focusing solely on the bottom line.</p>
                </div>
                <mdb-card class="my-3  indigo lighten-5 ">
                    <mdb-card-body>
                      <p class="h6">  <mdb-icon far icon="thumbs-up" class="fa-lg thumb"></mdb-icon>
                        Work History and Feedback</p>
                    </mdb-card-body>
                </mdb-card>
                <div class="px-2">
                    <p class="h5 pt-4">Web, Database and API Developer</p>
                    <p class="grey-text">Rated as Freelancer</p>
                    <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                    <mdb-icon far icon="calendar-alt" class="ml-3"></mdb-icon> 15 august 2019
                    <p class="pb-5 pt-3 tex">Excellent programmer - fully carried out my project in a very professional
                        manner.</p>
                </div>
                <div class="">
                    <mdb-card class=" indigo lighten-5">
                        <mdb-card-body>
                            <p class="h5 ">WordPress Theme Installation</p>
                            <p class="grey-text">Rated as Freelancer</p>
                            <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                            <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                            <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                            <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                            <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                            <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                            <mdb-icon far icon="calendar-alt" class="ml-3"></mdb-icon> 15 august 2019

                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="mx-2">
                    <p class="h5 pt-5">Fix Python Selenium Code</p>
                    <p class="grey-text">Rated as Employer</p>
                    <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                    <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                    <mdb-icon far icon="calendar-alt" class="ml-3"></mdb-icon> 15 august 2019
                    <p class="py-3 tex">I was extremely impressed with the quality of work AND how quickly he got it done.
                        He then offered to help with another side part of the project that we didn't even think about
                        originally.</p>
                </div>
                <div class="">
                    <div class="py-3 ">
                        <mdb-card class=" indigo lighten-5">
                            <mdb-card-body>
                                <p class="h5 ">PHP Core Website Fixes</p>
                                <p class="grey-text">Rated as Freelancer</p>
                                <mdb-badge warning="true" class="starsymbol py-2 px-1 mx-1">5.0</mdb-badge>

                                <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                <mdb-icon fas icon="star" class="starsymbol fa-m"></mdb-icon>
                                <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                <mdb-icon fas icon="star" class="starsymbol"></mdb-icon>
                                <mdb-icon far icon="calendar-alt" class="ml-3"></mdb-icon> 15 august 2019
                                <p class="pt-3 tex">Awesome work, definitely will rehire.
                                    Poject was completed not only with the requirements, but on time, within our small
                                    budget.</p>
                            </mdb-card-body>
                        </mdb-card>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row py-4">
                    <div class="col-md-4">
                        <p class="h3">$35</p>
                        <p class="h6 grey-text">Hourly Rate</p>
                    </div>
                    <div class="col-md-4">
                        <p class="h3">53</p>
                        <p class="h6 grey-text">Rehired</p>
                    </div>
                    <div class="col-md-4">
                        <p class="h3">25</p>
                        <p class="h6 grey-text">Jobs Done</p>
                    </div>
                    <div class="col-md-12 py-2">
                        <button type="button" mdbBtn color="primary" block="true" mdbWavesEffect>Make an offer</button>

                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-md-6">
                        <p class="h4">88%</p>
                        <mat-progress-bar mode="determinate" value="88"></mat-progress-bar>

                        <p class="gery-text py-2">Job success</p>
                    </div>
                    <div class="col-md-6">
                        <p class="h4">100%</p>
                        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>

                        <p class="gery-text py-2">Recommendation</p>
                    </div>
                    <div class="col-md-6">
                        <p class="h4">90%</p>
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>

                        <p class="gery-text py-2">On Time</p>
                    </div>
                    <div class="col-md-6">
                        <p class="h4">88%</p>
                        <mat-progress-bar mode="determinate" value="88"></mat-progress-bar>

                        <p class="gery-text py-2">on Budjet</p>
                    </div>
                </div>
                <p class="h5 py-2">Social Profiles</p>
                <div class="row py-3">
                    <div class="col-2">
                        <mdb-icon class="ico" fab icon="github fa-2x"></mdb-icon>
                    </div>

                    <div class="col-2">
                        <mdb-icon class="ico" fab icon="twitter-square fa-2x"></mdb-icon>
                    </div>
                    <div class="col-2">
                        <mdb-icon class="ico" fab icon="facebook-square fa-2x"></mdb-icon>
                    </div>
                    <div class="col-2">
                        <mdb-icon class="ico" fab icon="linkedin-in fa-2x"></mdb-icon>
                    </div>
                    <div class="col-2">
                        <mdb-icon class="ico" fas icon="globe fa-2x"></mdb-icon>
                    </div>
                    <div class="col-2">
                        <mdb-icon class="ico" fab icon="stack-overflow fa-2x"></mdb-icon>
                    </div>
                </div>
                <p class="h5 pt-3">Skills</p>
                <div class="row py-4">
                    <div class="col-md-3 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3">IOS</mdb-badge>
                    </div>
                    <div class="col-md-3 mr-3 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3 ">Android</mdb-badge>
                    </div>
                    <div class="col-md-3 mr-3 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3 ">PHP</mdb-badge>
                    </div>
                    <div class="col-md-3 mr-3 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3 ">Design</mdb-badge>
                    </div>
                    <div class="col-md-3 mr-3 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3">Flask</mdb-badge>
                    </div>
                    <div class="col-md-3 mr-3 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3">Python</mdb-badge>
                    </div>
                    <div class="col-md-3 mr-5 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3">Mobile Apps</mdb-badge>
                    </div>
                    <div class="col-md-3 mr-3 my-2">
                        <mdb-badge color="indigo" class="py-3 px-3">Word Press</mdb-badge>
                    </div>

                </div>
                <p class="h5 pt-3">Attachments</p>

                <div class="row py-3">
                    <div class="col-md-6 my-2">
                        <mdb-card class="indigo lighten-5 ">
                            <mdb-card-body>
                                <p class="h5 grey-text">cover letter</p>
                                <p class="grey-text">PDF</p>
                                <button type="button" mdbBtn color="light" size="sm" mdbWavesEffect>download</button>

                            </mdb-card-body>
                        </mdb-card>
                    </div>
                    <div class="col-md-6 my-2">
                        <mdb-card class="indigo lighten-5">
                            <mdb-card-body>
                                <p class="h5 grey-text">contract</p>
                                <p class="grey-text">DOCX</p>
                                <button type="button" mdbBtn color="dark" size="sm" color="light" mdbWavesEffect>Download</button>

                            </mdb-card-body>
                        </mdb-card>
                    </div>
                </div>
                <p class="h5 py-3">Bookmark or Share</p>
                <button type="button" mdbBtn color="dark" mdbWavesEffect> <mdb-icon far icon="star" class="mr-2"></mdb-icon>Bookmark</button>
                <div class="input-group mb-3 py-4">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                      aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"><mdb-icon far icon="folder-open" class="thumb"></mdb-icon></span>
                    </div>
                  </div>
                  <mdb-icon fas icon="share-alt" class="fa-lg mr-2"></mdb-icon> <span>Interesting ? share It!</span>
            </div>
        </div>
    </div>
</div>