<!-- <div class="contatiner">
    <div class="row">
        <div class="col-sm-2">
            <div class="Leftside">
                <img src="../../assets/molly-nix.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-10">

        </div>
    </div>

</div> -->


<div class="panel-wrapper">

    <div class="feature-panel--quotes-container">

        <a href="javascript:void(0)" routerLink="/" class="aimentr-logo">Aimentr</a>

        <div class="feature-panel feature-panel--quotes quotes--uber">
            <div class="sign-up__quote selected" data-company="uber">
                <!-- <p class="sign-up__quote__excerpt">
                    “We are designing for a global user base... [With aimentr] we can get feedback not just from Mentor
                    we see in San Francisco but from all around the world.”
                </p> -->
                <p class="sign-up__quote__name">
                    SIGN UP
                </p>
            </div>
            <div class="sign-up__quote" data-company="netflix">
                <p class="sign-up__quote__excerpt">
                    “InVision allows you to collaborate, experiment, and test much more effectively and efficiently.”
                </p>
                <p class="sign-up__quote__name">
                    Andy Law
                </p>
                <i class="sign-up__quote__logo sign-up__quote__logo--netflix"></i>
            </div>

            <!-- <ul class="quotes__pagination">
                <li class="pagination__page selected" data-company="uber"></li>
                <li class="pagination__page" data-company="netflix"></li>
            </ul> -->
        </div>
    </div>

    <div class="main-panel">
        <div class="main-panel__table">
            <div class="main-panel__table-cell">
                <div class="main-panel__switch">
                    <span class="main-panel__switch__text">Already have an account?</span>
                    <button mat-button class="main-panel__switch__button" id="login-sign-in-button" routerLink="/login">
                        Sign in
                    </button>
                </div>


                <div class="main-panel__content">

                    <form class="main-panel__form" #register="ngForm" novalidate>
                        <!-- <input type="hidden" name="uploadDemoID" value="" />
                        <input type="hidden" name="source" value="signup" />
                        <input type="hidden" name="referer" value="" />
                        <input type="hidden" name="keywords" value="" />
                        <input type="hidden" name="signedUpVia" value="" />
                        <input type="hidden" name="redir" value="" />
                        <input type="hidden" name="redirHash" value="" id="redirHash" />
                        <input type="hidden" name="plan" value="" />
                        <input type="hidden" name="webview" value="false" />
                        <input type="hidden" name="mktgSignupFormVar" value="control" />
                        <input type="hidden" name="originUserID" value="0" />
                        <input type="hidden" name="enrichmentData" value="" /> -->

                        <!-- <input type="hidden" name="submissionForm" value="Signup&#x20;Page" /> -->

                        <!-- <input type="hidden" name="formToken" value="RqbKgUBN_UnnqKE0ZgxgQFXReibhY2n_WolxJHLvG6c" /> -->
                        <h1 class="main-panel__heading nonreferral">
                            Get started absolutely free.
                            <span class="main-panel__subheading">
                                Free forever. No credit card needed.
                            </span>
                        </h1>


                        <!-- <mat-form-field>
                            <div class="form__group">
                                <mat-label for="inputState">Role</mat-label>
                                <select  matInput id="inputState" class="form__input validate-empty" name="role"
                                    [(ngModel)]="UserRegistration.role" (change)="changeRole()">
                                    <option selected value="null">Choose...</option>
                                    <option value=3>Mentor</option>
                                    <option value=2>Student</option>
                                </select>
                            </div>
                        </mat-form-field> -->



                        <div class="form__group">
                            <label for="email" class="form__label">Role</label>
                            <select matInput id="inputState" class="form__input validate-empty" name="role"
                                [(ngModel)]="UserRegistration.role" (change)="changeRole()" required>
                                <option selected value="null">Choose...</option>
                                <option value=3>Mentor</option>
                                <option value=2>Student</option>
                            </select>
                        </div>

                        <div class="form__page sign-up__step-one" *ngIf="UserRegistration.role != 3">
                            <div class="form__group">
                                <label for="email" class="form__label">Email Address</label>

                                <input type="text" class="form__input validate-empty" #Email="ngModel" name="email"
                                    [(ngModel)]="UserRegistration.email" id="email" placeholder="mentor@aimentr.com"
                                    autofocus pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    [ngStyle]="{'border-color':Email.invalid && Email.touched ? 'red' : '#ced4da' }"
                                    required />
                                <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="text-danger">
                                    <div *ngIf="Email.errors.required">
                                        Email Address Required.
                                    </div>
                                    <div *ngIf="Email.errors.pattern">
                                        Enter Valid Email Address.
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form__group ea__prehide">
                                <label for="name" class="form__label">User Name</label>
                                <input type="text" class="form__input validate-empty " #Username="ngModel"
                                    name="username" [(ngModel)]="UserRegistration.username" id="name"
                                    placeholder="Full Name"
                                    [ngStyle]="{'border-color':Username.invalid && Username.touched ? 'red' : '#ced4da' }"
                                    required />
                                <div *ngIf="Username.invalid && (Username.dirty || Username.touched)"
                                    class="text-danger">
                                    <div *ngIf="Username.errors.required">
                                        Please enter your full name.
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="form__group ea__prehide">
                                <label for="password" class="form__label">Password</label>
                                <input id="password" type="password" class="form__input validate-empty"
                                    #Password="ngModel" name="password" [(ngModel)]="UserRegistration.password"
                                    id="password" placeholder="5+ characters" minlength="6"
                                    [ngStyle]="{'border-color':Password.invalid && Password.touched ? 'red' : '#ced4da' }"
                                    required />

                                <div *ngIf="Password.invalid && (Password.dirty || Password.touched)"
                                    class="text-danger">
                                    <div *ngIf="Password.errors.required">
                                        Password Required.
                                    </div>
                                    <div *ngIf="Password.errors.minlength">
                                        Your password must be at least 6 characters long.
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="form__page sign-up__step-one" *ngIf="UserRegistration.role == 3">
                            <div class="form__group">
                                <label for="" class="form__label">Upload Resume</label>
                                <input type="file" #file class="form__input validate-empty " name="resume"
                                    [(ngModel)]="UserRegistration.resume" id="resume" placeholder="Choose a file"
                                    (change)="fileChangeEvent($event)" required />
                            </div>
                        </div>


                        <div class="textcenter">
                            <button mat-button type="submit" class="form__button ea__prehide sign-up__submit" style=""
                                (click)="Continue()" [disabled]="!register.valid">
                                Continue
                            </button>
                            <!-- <a class="form__button ea__redirect sign-up__submit" style="display: none;">
                                Continue
                            </a> -->
                        </div>

                        <div mdbModal #conditions="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dailog-center" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close pull-right" aria-label="Close" (click)="conditions.hide()">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <h4 class="modal-title w-100" id="myModalLabel">Terms and conditions</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row justify-content-center">
                        
                                            <div class="col-md-10 ">
                                                <cdk-virtual-scroll-viewport itemSize="10" class="example-viewport">
                        
                                                    <p class="pr-4">The standard Lorem Ipsum passage, used since the 1500s
                                                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                                        nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                                        qui officia deserunt mollit anim id est laborum."
                        
                                                        Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                                                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                                        veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                                        magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                                                        qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                                        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                                                        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
                                                        eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                                                        consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                        
                                                        1914 translation by H. Rackham
                                                        "But I must explain to you how all this mistaken idea of denouncing pleasure and
                                                        praising pain was born and I will give you a complete account of the system, and
                                                        expound the actual teachings of the great explorer of the truth, the master-builder
                                                        f human happiness. No one rejects, dislikes, or avoids pleasure itself, because it
                                                        is pleasure, but because those who do not know how to pursue pleasure rationally
                                                        encounter consequences that are extremely painful. Nor again is there anyone who
                                                        loves or pursues or desires to obtain pain of itself, because it is pain, but
                                                        because occasionally circumstances occur in which toil and pain can procure
                                                        him some great pleasure. To take a trivial example, which of us ever undertakes
                                                        laborious physical exercise, except to obtain some advantage from it? But who
                                                        has any right to find fault with a man who chooses to enjoy a pleasure that
                                                        has no annoying consequences, or one who avoids a pain that produces no
                                                        resultant pleasure?"
                        
                                                        Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
                                                        "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                                        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                                        excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                                        officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                                        rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                                                        est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
                                                        possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus
                                                        autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                                        ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum
                                                        rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                                                        alias consequatur aut perferendis doloribus asperiores repellat."
                        
                                                        1914 translation by H. Rackham
                                                        "On the other hand, we denounce with righteous indignation and dislike men who are
                                                        so beguiled and demoralized by the charms of pleasure of the moment, so blinded by
                                                        desire, that they cannot foresee the pain and trouble that are bound to ensue; and
                                                        equal blame belongs to those who fail in their duty through weakness of will, which
                                                        is the same as saying through shrinking from toil and pain. These cases are perfectly
                                                        simple and easy to distinguish. In a free hour, when our power of choice is
                                                        untrammelled and when nothing prevents our being able to do what we like best,
                                                        every pleasure is to be welcomed and every pain avoided. But in certain
                                                        circumstances and owing to the claims of duty or the obligations of business
                                                        it will frequently occur that pleasures have to be repudiated and annoyances
                                                        accepted. The wise man therefore always holds in these matters to this principle
                                                        of selection: he rejects pleasures to secure other greater pleasures, or else he
                                                        endures pains to avoid worse pains."</p>
                                                </cdk-virtual-scroll-viewport>
                                            </div>
                        
                                        </div>
                                        <div class="row justify-content-center py-3">
                                            <div class="col-3">
                                                <button mdbBtn block="true" type="button" color="primary" mdbWavesEffect>Accept</button>
                        
                                            </div>
                                            <div class="col-3">
                                                <button mdbBtn block="true" type="button" color="danger" mdbWavesEffect>decline</button>
                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <p class="form__legal ea__prehide" >
                            By clicking "<span class="sign-up__cta-text">Continue</span>" I agree to AImentr's
                            <a (click)="conditions.show()">Terms of Service</a>
                            and
                            <a (click)="conditions.show()">Privacy Policy</a>.
                        </p>
                    </form>
                </div> <!-- main-panel__content -->
            </div>
        </div>
    </div> <!-- main-panel -->
</div> <!-- panel-wrapper -->
