<div class="container-fluid" style="padding:  3% 0 0 2%;">
    <div class="example-sidenav-content">
        <button type="button" mat-icon-button class="toggle" mat-button (click)="butt.toggle()">
            <mat-icon >dehaze</mat-icon>
        </button> <h1 text-center>Foundations of front-end
            Web Developement</h1>
      </div>
      </div>
<div class="container-fluid" style="padding-top: 0;">
    <div class="row no-gutters">
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer #butt class="example-sidenav" style="border: 1px solid black;" mode="side"  opened>
        <div class="col-lg-2  col-md-3 col-sm-12" >
            <mat-accordion>
                <cdk-virtual-scroll-viewport itemSize="10" class="example-viewport">

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Course Overview
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div class="accordion-content clearfix open">
                            <a>
                                <span class="accordion-content__row__title">Course Overview</span><span
                                    class="accordion-time">2m</span>
                            </a>
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float:left"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float:left"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float:left"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                        <hr>
                        <div class="accordion-content clearfix open">
                            <a><i class="fa fa-lock" aria-hidden="true" style="float: left;"></i>
                                <span class="accordion-content__row__title"> Why You Need to Master Extension
                                    Methods</span>
                                <span class="accordion-time">4m</span>
                            </a>
                        </div>
                    </mat-expansion-panel>

                </cdk-virtual-scroll-viewport>

            </mat-accordion>
                    </div>

            </mat-drawer>
        </mat-drawer-container>
        <div class="col-lg-9 col-md-7 col-sm-12">
            <div class="video-player">
                <iframe src='https://player.vimeo.com/video/76979871?api=1&player_id=player1' frameborder='0'
                    webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid" style="background-color: teal;margin-bottom: 0;padding: 0 3%;">
    <h1>Foundations of front-end</h1>
    <h1>Web Developement</h1>
</div>
<div class="video">

    <div class="d-flex justify-content-center "
        style=" box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="video-content">
            <ul class="list-unstyled ">
                <li class="text-center list-head " style=" padding:10px">VIDEOS</li>
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="1" id="radio1"
                                type="radio" checked>
                            <label class="list-header-list" for="radio1"> Web Development Process</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">01:32</span>
                </li>
                
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="2" id="radio2"
                                type="radio">
                            <label class="list-header-list" for="radio2"> Web Development</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">01:32</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="3" id="radio3"
                                type="radio">
                            <label class="list-header-list" for="radio3"> Web Development Tools</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">10:22</span>
                    
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="4" id="radio4"
                                type="radio">
                            <label class="list-header-list" for="radio4"> Website Publishing</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">120:55</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="5" id="radio5"
                                type="radio">
                            <label class="list-header-list" for="radio5"> Website Monetization</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">51:95</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="6" id="radio6"
                                type="radio">
                            <label class="list-header-list" for="radio6"> Website Security</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">12:56</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="7" id="radio7"
                                type="radio">
                            <label class="list-header-list" for="radio7"> Website Hosting</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">03:12</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="8" id="radio8"
                                type="radio">
                            <label class="list-header-list" for="radio8"> Website URL Registration</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">12</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="8" id="radio8"
                                type="radio">
                            <label class="list-header-list" for="radio8"> Website URL Login</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">12</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="8" id="radio8"
                                type="radio">
                            <label class="list-header-list" for="radio8"> Website Development Tools</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">12</span>
                </li>
                <hr class="list-line">
                <li class="list-data d-flex justify-content-between align-items-center">
                    <div class="radiobuttons">
                        <div class="rdio rdio-primary radio-inline"> <input name="radio" value="8" id="radio8"
                                type="radio">
                            <label class="list-header-list" for="radio8"> Website Hosting</label>
                        </div>
                    </div>
                    <span class="" style="margin-left: 30px;">12</span>
                </li>
                <hr class="list-line">

            </ul>
        </div>
        <div class="video-player">
            <iframe src='https://player.vimeo.com/video/76979871?api=1&player_id=player1' width="1020" height="577"
                frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
</div>
</div> -->