<div class="container-fluid py-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 pl-3">
                    <h2>New Lesson Board</h2>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="col-md-4 mb-5 ">

                    <mdb-card class=" cursor-pointer px-0" data-toggle="modal">
                        <mdb-card-body class="courseCardsBody py-0 px-0">
                            <img src="/assets/lab.png" class="img-fluid px-0" alt="user" width="400px">
                            <mdb-card-title>
                                <h2 class="pt-3 px-2 pb-0">Basic Chemistry</h2>
                                <p class="px-2">Intro to cross paltform Game development
                                    ntro to cross paltform Game development</p>
                            </mdb-card-title>
                            <mdb-card-text>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 text-center px-2 py-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                                class="img-fluid  rounded-circle z-depth-0" alt="user" width="80px">
                                        </div>
                                        <div class="col-md-9 ">
                                            <h3 class=" mb-0"><b>Hellen Campbell</b></h3>
                                            <h4>3 days ago</h4>
                                        </div>
                                    </div>
                                </div>
                            </mdb-card-text>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 mb-5 ">
                    <mdb-card class=" cursor-pointer px-0" data-toggle="modal">
                        <mdb-card-body class="courseCardsBody py-0 px-0">
                            <img src="/assets/lab.png" class="img-fluid px-0" alt="user" width="400px">
                            <mdb-card-title>
                                <h2 class="pt-3 px-2 pb-0">Basic Chemistry</h2>
                                <p class="px-2">Intro to cross paltform Game development
                                    ntro to cross paltform Game development</p>
                            </mdb-card-title>
                            <mdb-card-text>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 text-center px-2 py-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                                class="img-fluid  rounded-circle z-depth-0" alt="user" width="80px">
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class=" mb-0"><b>Hellen Campbell</b></h3>
                                            <h4>3 days ago</h4>
                                        </div>
                                    </div>
                                </div>
                            </mdb-card-text>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 mb-5 ">
                    <mdb-card class=" cursor-pointer px-0" data-toggle="modal">
                        <mdb-card-body class="courseCardsBody py-0 px-0">
                            <img src="/assets/lab.png" class="img-fluid px-0" alt="user" width="400px">
                            <mdb-card-title>
                                <h2 class="pt-3 px-2 pb-0">Basic Chemistry</h2>
                                <p class="px-2">Intro to cross paltform Game development
                                    ntro to cross paltform Game development</p>
                            </mdb-card-title>
                            <mdb-card-text>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 text-center px-2 py-1">
                                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                                class="img-fluid  rounded-circle z-depth-0" alt="user">
                                        </div>
                                        <div class="col-md-9 ">
                                            <h3 class=" mb-0"><b>Hellen Campbell</b></h3>
                                            <h4>3 days ago</h4>
                                        </div>
                                    </div>
                                </div>
                            </mdb-card-text>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class=" row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><b>AssignMent Manager</b></h1>
                        </div>
                        <div class="col-md-4">
                            <h2><b>Pending</b></h2>
                        </div>
                        <div class="col-md-4">
                            <h2><b>Completed</b></h2>
                        </div>
                        <div class="col-md-4">
                            <h2><b>Submitted</b></h2>
                        </div>
                        <div class="col-12">

                            <mdb-card class=" px-0" data-toggle="modal">
                                <mdb-card-body class="courseCardsBody py-0 px-0">
                                    <div class="row py-3">
                                        <div class="col-md-8">
                                            <p class="grey-text px-4">Test name</p>

                                        </div>
                                        <div class="col-md-4">
                                            <p class="grey-text px-2">Status</p>
                                        </div>
                                    </div>
                                    <div class="row py-2">
                                        <div class="col-md-8">
                                            <div class="row px-3">
                                                <p class="col-md-5 h6 px-4"><b>Basic Physics ||</b></p>
                                                <div class="col-md-5 px-0 progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%"
                                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <p class="col-md-12 grey-text px-4">Final assisment | Due tomorrow</p>
                                            </div>

                                        </div>
                                        <div class="col-md-4 py-0">
                                            <button mdbBtn type="button" class="rounded mx-0" size="sm" color="warning"
                                                outline="true" mdbWavesEffect>Resume</button>

                                        </div>
                                    </div>
                                    <div class="row py-2">
                                        <div class="col-md-8">
                                            <div class="row px-3">
                                                <p class="col-md-5 h6 px-4"><b>Basic Physics ||</b></p>
                                                <div class="col-md-5 px-0 progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%"
                                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <p class="col-md-12 grey-text px-4">Final assisment | Due tomorrow</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 py-0">
                                            <button mdbBtn type="button" class="rounded" size="sm" color="primary"
                                                outline="true" mdbWavesEffect>Start</button>

                                        </div>
                                    </div>

                                </mdb-card-body>
                            </mdb-card>


                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><b>Live Session</b></h1>
                        </div>
                        <div class="col-12">
                            <mdb-card class=" px-0" data-toggle="modal">
                                <mdb-card-body class="courseCardsBody py-0 px-0">
                                    <mdb-card-title>
                                        <h2 class="pt-3 px-3 pb-0">Ongoing Lecture</h2>
                                        <hr>
                                    </mdb-card-title>
                                    <mdb-card-text>
                                        <div class="col-md-12">
                                            <div class="row py-3">
                                                <div class="col-md-7 px-2 ">
                                                    <h3 class="py-0"><b>Force and momentum Revision</b></h3>
                                                    <P>Physics</P>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="btn-group rounded" role="group"
                                                        aria-label="Basic example">
                                                        <button mdbBtn type="button" color="primary" size="sm"
                                                            class="waves-light " mdbWavesEffect>
                                                            <mdb-icon fas icon="play"></mdb-icon>
                                                        </button>
                                                        <button mdbBtn type="button" color="primary" size="sm"
                                                            class="waves-light" mdbWavesEffect>Join</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-md-4">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-md-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-md-2 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-2 py-0 "
                                                        size="sm" mdbWavesEffect>Medium</button>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-md-4">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-md-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-md-2 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-3 py-0 "
                                                        size="sm" mdbWavesEffect>Hard</button>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-1 py-1"><i class="far fa-check-circle"></i></div>
                                                <div class="col-md-4">
                                                    <h4 class=" py-0"><b>Force and Unit</b></h4>

                                                </div>
                                                <div class="col-md-3">
                                                    <p class="h6 py-1">3:40 min</p>
                                                </div>
                                                <div class="col-md-2 py-0">
                                                    <button type="button" mdbBtn color="light" class="px-2 py-0 "
                                                        size="sm" mdbWavesEffect>Medium</button>

                                                </div>
                                            </div>

                                        </div>

                                    </mdb-card-text>
                                </mdb-card-body>
                            </mdb-card>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>