<div class="edit px-0 mx-0 edit py-3">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mdb-icon far icon="file-alt" class="fa-lg"></mdb-icon>
            </ng-template>
            <mdb-card class="px-2">
                <mdb-card-body>
                    <p>hello every one</p>
                </mdb-card-body>
                <mdb-card-body>
                    <p>hello every one</p>
                </mdb-card-body>
                <mdb-card-body>
                    <p>hello every one</p>
                </mdb-card-body>
                <mdb-card-body>
                    <p>hello every one</p>
                </mdb-card-body>
            </mdb-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mdb-icon fas icon="exclamation-circle" class="fa-lg"></mdb-icon>
            </ng-template>
           <p>
            Tab Two Content Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
            graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is
            thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mdb-icon fas icon="thumbs-up" class="fa-lg"></mdb-icon>
            </ng-template>
            Tab Two Content
        </mat-tab>
    </mat-tab-group>
</div>