<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <mdb-card class="my-3">
                    <mdb-card-body>
                        <mdb-card-title>
                            <p class="text-center h5"> Filters </p>
                            <div class="mb-3">
                                <h3 class="mb-2">Locations</h3>
                                <ul class="list-group">
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">India</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">United States
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Bengaluru Area, India
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">San Francisco Bay
                                            Area</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">New Delhi Area, India
                                        </mat-checkbox>
                                    </li>
                                </ul>
                            </div>

                            <div class="mb-3">
                                <h3 class="mb-2">Current companies</h3>
                                <ul class="list-group">
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Google</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Microsoft
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Amazon
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Facebook
                                            Area</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">LinkedIn
                                        </mat-checkbox>
                                    </li>
                                </ul>
                            </div>

                            <div class="mb-3">
                                <h3 class="mb-2">Industries</h3>
                                <ul class="list-group">
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Computer Software</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Information Technology
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Internet
                                        </mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Financial Services
                                            Area</mat-checkbox>
                                    </li>
                                    <li class="list-group-item border-0 p-0">
                                        <mat-checkbox class="example-margin">Research
                                        </mat-checkbox>
                                    </li>
                                </ul>

                            </div>

                            <div class="mb-3">
                                <h3 class="mb-2 text-center">
                                    <button mdbBtn type="button" color="pink" size="sm" block="true" mdbWavesEffect
                                        (click)="FiltersModal.show()">More</button>
                                </h3>
                            </div>

                        </mdb-card-title>

                    </mdb-card-body>
                </mdb-card>





            </div>
            <div class="col-md-9">

                <mdb-card class="my-3" *ngFor="let item of MentorsList">
                    <mdb-card-body>
                        <mdb-card-title>
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <img src="./assets/images/icons/user.png" alt="user" width="50px">
                                </div>
                                <div class="col-md-4">
                                    <p class="h6 mb-0"> <b>{{item.firstname}} {{item.lastname}} </b></p>
                                    <h4>Founder, <small class="grey-text"> 4 days ago</small></h4>
                                </div>

                                <div class="col-md-3">
                                    <b> Skills:</b>
                                    <h5>{{item.education.skills}}</h5>
                                </div>
                                <div class="col-md-2">
                                    <b> Average Cost: </b>
                                    <h5>Rs 10000</h5>
                                </div>
                                <div class="col-md-2">
                                    <b> Rating:</b>
                                    <h5>stars here</h5>
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-7">
                                    <b>Description:</b>
                                    <h5>Bootstrap includes several predefined button styles, each serving its own
                                        semantic purpose, with a few extras thrown in for more control.</h5>
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="viewMoreButtons">
                                        <button mdbBtn type="button" size="sm" color="cyan"
                                            mdbWavesEffect>Follow</button>
                                        <button mdbBtn type="button" size="sm" color="pink" mdbWavesEffect
                                             (click)="viewDashboard(item)" >View
                                            Dashboard</button>
                                    </div>
                                </div>
                            </div>

                        </mdb-card-title>

                    </mdb-card-body>
                </mdb-card>

                <mdb-card class="my-3">
                    <mdb-card-body>
                        <mdb-card-title>
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <img src="./assets/images/icons/user.png" alt="user" width="50px">
                                </div>
                                <div class="col-md-4">
                                    <p class="h6 mb-0"> <b> Lorem ipsum dolor hello </b></p>
                                    <h4>Founder, <small class="grey-text"> 4 days ago</small></h4>
                                </div>

                                <div class="col-md-3">
                                    <b> Skills:</b>
                                    <h5>Python, Machine learning</h5>
                                </div>
                                <div class="col-md-2">
                                    <b> Average Cost: </b>
                                    <h5>Rs 10000</h5>
                                </div>
                                <div class="col-md-2">
                                    <b> Rating:</b>
                                    <h5>stars here</h5>
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-7">
                                    <b>Description:</b>
                                    <h5>Bootstrap includes several predefined button styles, each serving its own
                                        semantic purpose, with a few extras thrown in for more control.</h5>
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="viewMoreButtons">
                                        <button mdbBtn type="button" size="sm" color="cyan"
                                            mdbWavesEffect>Follow</button>
                                        <button mdbBtn type="button" size="sm" color="pink" mdbWavesEffect>View
                                            Dashboard</button>
                                    </div>
                                </div>
                            </div>

                        </mdb-card-title>

                    </mdb-card-body>
                </mdb-card>
                <mdb-card class="my-3">
                    <mdb-card-body>
                        <mdb-card-title>
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <img src="./assets/images/icons/user.png" alt="user" width="50px">
                                </div>
                                <div class="col-md-4">
                                    <p class="h6 mb-0"> <b> Lorem ipsum dolor hello </b></p>
                                    <h4>Founder, <small class="grey-text"> 4 days ago</small></h4>
                                </div>

                                <div class="col-md-3">
                                    <b> Skills:</b>
                                    <h5>Python, Machine learning</h5>
                                </div>
                                <div class="col-md-2">
                                    <b> Average Cost: </b>
                                    <h5>Rs 10000</h5>
                                </div>
                                <div class="col-md-2">
                                    <b> Rating:</b>
                                    <h5>stars here</h5>
                                </div>
                                <div class="col-md-1">

                                </div>
                                <div class="col-md-7">
                                    <b>Description:</b>
                                    <h5>Bootstrap includes several predefined button styles, each serving its own
                                        semantic purpose, with a few extras thrown in for more control.</h5>
                                </div>
                                <div class="col-md-4 text-right">
                                    <div class="viewMoreButtons">
                                        <button mdbBtn type="button" size="sm" color="cyan"
                                            mdbWavesEffect>Follow</button>
                                        <button mdbBtn type="button" size="sm" color="pink" mdbWavesEffect>View
                                            Dashboard</button>
                                    </div>
                                </div>
                            </div>

                        </mdb-card-title>

                    </mdb-card-body>
                </mdb-card>




            </div>
        </div>
    </div>

</section>


<!-- 
<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="FiltersModal.show()" mdbWavesEffect>Launch demo modal</button> -->

<div mdbModal #FiltersModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dailog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="FiltersModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div class="mb-3">
                            <h3 class="mb-2">Profile language</h3>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">English</mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">French
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Spanish
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Chinese</mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Portuguese
                                    </mat-checkbox>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="mb-3">
                            <h3 class="mb-2">Schools</h3>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Stanford University</mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin"> Massachusetts Institute of Technology
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Kendriya Vidyalaya
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Birla Institute of Technology and Science,
                                        Pilani</mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">University of California, Berkeley
                                    </mat-checkbox>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="mb-3">  
                            <h3 class="mb-2">Contact interests</h3>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Probono consulting and volunteering
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Joining a nonprofit board
                                    </mat-checkbox>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-md-5">
                        <div class="mb-3">
                            <h3 class="mb-2">Services</h3>
                            <ul class="list-group">
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Software Development</mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Custom Software Development
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Web Development
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Application Development
                                    </mat-checkbox>
                                </li>
                                <li class="list-group-item border-0 p-0">
                                    <mat-checkbox class="example-margin">Mobile Application Development
                                    </mat-checkbox>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
                    (click)="FiltersModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Ok</button>
            </div>
        </div>
    </div>
</div>