<section class="pt-5 ">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- Card -->
                <mdb-card>
                    <!-- <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                        alt="Card image cap"></mdb-card-img>
                    <a>
                        <div class="mask"></div>
                    </a>
                </div> -->
                    <!--Card content-->
                    <mdb-card-body>
                        <mdb-card-title>
                            <h1 class="text-center">Stepper</h1>
                        </mdb-card-title>


                        <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                          </button> -->

                        <mat-horizontal-stepper [linear]="isLinear" #stepper>
                            

                            <mat-step>
                                <ng-template matStepLabel><b> Personal :</b></ng-template>
                                <div class="row mx-5 my-4">
                                    <div class="col-md-12">
                                        <!-- <div class="md-form">
                                            <mdb-icon fas icon="envelope" class="purple-text prefix"></mdb-icon>
                                            <input mdbInput mdbValidate type="text" id="form2" class="form-control"
                                            class="form-control" #FirstName="ngModel"   [(ngModel)]="UserDetails.FirstName" required>
                                            <label for="form2">Example label</label>
                                          </div> -->
                                        <form #UserDetailsForm="ngForm" novalidate>
                                            <div class="row">
                                                <!-- <div class="col-md-4">
                                                    <div class="md-form form-sm">
                                                        <mdb-icon fas icon="user" class="purple-text active prefix">
                                                        </mdb-icon>
                                                        <input mdbInput mdbValidate name="FirstName" type="text"
                                                            id="FirstName" class="form-control"
                                                            [(ngModel)]="UserDetails.FirstName" #FirstName="ngModel"
                                                            required>
                                                        <label for="FirstName">First Name</label>
                                                    </div>
                                                </div> -->
                                                <div class="col-md-6">
                                                    <div class="md-form form-sm">
                                                        <mdb-icon fas icon="envelope" class="prefix">
                                                        </mdb-icon>
                                                        <input mdbInput mdbValidate name="Mail" type="email" id="Mail"
                                                            class="form-control" required>
                                                        <label for="Mail">Mail</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="md-form form-sm">
                                                        <mdb-icon fas icon="user-alt" class="prefix">
                                                        </mdb-icon>
                                                        <input mdbInput mdbValidate name="Name" type="text" id="Name"
                                                            class="form-control" required>
                                                        <label for="Name">Name</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class=" form-sm">
                                                        
                                                        <label for="Gender">Gender</label>
                                                        <br>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" id="Male"
                                                                name="Gender" mdbInput>
                                                            <label class="custom-control-label pt-1" for="Male">Male</label>
                                                        </div>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" id="Female"
                                                                name="Gender" mdbInput>
                                                            <label class="custom-control-label pt-1"
                                                                for="Female">Female</label>
                                                        </div>

                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" class="custom-control-input" id="Other"
                                                                name="Gender" mdbInput>
                                                            <label class="custom-control-label pt-1"
                                                                for="Other">Other</label>
                                                        </div>
                                                        </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field class="w-100">
                                                        <mat-label>Date</mat-label>
                                                        <input matInput [matDatepicker]="picker">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                      </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="md-form form-sm">
                                                        <mdb-icon fas icon="map-marker-alt" class="prefix">
                                                        </mdb-icon>
                                                        <input mdbInput mdbValidate name="Location" type="text" id="Location"
                                                            class="form-control" required>
                                                        <label for="Location">Location</label>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="md-form form-sm">
                                                        <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
                                                        <textarea type="text" id="About" class="md-textarea form-control" mdbInput></textarea>
                                                        <label for="About">About</label>
                                                      </div>
                                                </div>

                                            </div>


                                        </form>
                                        <div class="mt-4">
                                            <button class="float-right mb-4" type="button" mdbBtn color="success"
                                                mdbWavesEffect matStepperNext>
                                                Next <mdb-icon fas icon="angle-right" class="ml-1"></mdb-icon>
                                            </button>
                                            <!-- [disabled]="!UserDetailsForm.valid" -->

                                        </div>

                                    </div>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel><b> Education :</b></ng-template>
                                <div class="row  mx-5 my-4">
                                    <div class="col-md-12">

                                        <form #UserDetailsForm="ngForm" novalidate>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="md-form form-sm">
                                                        <mdb-icon fas icon="university" class="prefix">
                                                        </mdb-icon>
                                                        <input mdbInput mdbValidate name="College" type="text" id="College"
                                                            class="form-control" required>
                                                        <label for="College">College</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field class="w-100 matFieldsAlign" >
                                                        <mat-label>Degree</mat-label>
                                                        <mat-select>
                                                          <mat-option value="B-Tech">B-Tech</mat-option>
                                                          <mat-option value="BSC">BSC</mat-option>
                                                          <mat-option value="BCom">BCom</mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                                </div>

                                                <div class="col-md-6">
                                                    <mat-form-field class="w-100 matFieldsAlign" >
                                                        <mat-label>Graduation Year</mat-label>
                                                        <mat-select>
                                                          <mat-option value="2020">2020</mat-option>
                                                          <mat-option value="2019">2019</mat-option>
                                                          <mat-option value="2018">2018</mat-option>
                                                          <mat-option value="2017">2017</mat-option>
                                                          <mat-option value="2016">2016</mat-option>
                                                          <mat-option value="2015">2015</mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="md-form form-sm">
                                                        <mdb-icon fas icon="tasks" class="prefix">
                                                        </mdb-icon>
                                                        <input mdbInput mdbValidate name="Skills" type="text" id="Skills"
                                                            class="form-control" required>
                                                        <label for="Skills">Skills</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="mt-4">
                                            <button class="float-right mb-4" type="button" mdbBtn color="success"
                                                mdbWavesEffect matStepperNext>
                                                Next <mdb-icon fas icon="angle-right" class="ml-1"></mdb-icon>
                                            </button>
                                            <!-- [disabled]="!UserDetailsForm.valid" -->
                                            <button class="float-right mb-4" type="button" mdbBtn color="primary"
                                                outline="true" mdbWavesEffect matStepperPrevious>
                                                <mdb-icon fas icon="angle-left" class="mr-1"></mdb-icon> Back
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel><b> Step 3 :</b></ng-template>
                                <div class="row  mx-5 my-4">
                                    <div class="col-md-12">

                                        content here

                                        <div class="mt-4">
                                            <button class="float-right mb-4" type="button" mdbBtn color="success"
                                                mdbWavesEffect matStepperNext>
                                                Next <mdb-icon fas icon="angle-right" class="ml-1"></mdb-icon>
                                            </button>
                                            <!-- [disabled]="!UserDetailsForm.valid" -->
                                            <button class="float-right mb-4" type="button" mdbBtn color="primary"
                                                outline="true" mdbWavesEffect matStepperPrevious>
                                                <mdb-icon fas icon="angle-left" class="mr-1"></mdb-icon> Back
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel><b> Step 4 :</b></ng-template>
                                <div class="row  mx-5 my-4">
                                    <div class="col-md-12">

                                        content here

                                        <div class="mt-4">
                                            <button class="float-right mb-4" type="button" mdbBtn color="success"
                                                mdbWavesEffect matStepperNext>
                                                Next <mdb-icon fas icon="angle-right" class="ml-1"></mdb-icon>
                                            </button>
                                            <!-- [disabled]="!UserDetailsForm.valid" -->
                                            <button class="float-right mb-4" type="button" mdbBtn color="primary"
                                                outline="true" mdbWavesEffect matStepperPrevious>
                                                <mdb-icon fas icon="angle-left" class="mr-1"></mdb-icon> Back
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step>
                                <ng-template matStepLabel><b> Step 5 :</b></ng-template>
                                <div class="row  mx-5 my-4">
                                    <div class="col-md-12">

                                        content here

                                        <div class="mt-4">
                                            <button class="float-right mb-4" type="button" mdbBtn color="success"
                                                mdbWavesEffect matStepperNext>
                                                Next <mdb-icon fas icon="angle-right" class="ml-1"></mdb-icon>
                                            </button>
                                            <!-- [disabled]="!UserDetailsForm.valid" -->
                                            <button class="float-right mb-4" type="button" mdbBtn color="primary"
                                                outline="true" mdbWavesEffect matStepperPrevious>
                                                <mdb-icon fas icon="angle-left" class="mr-1"></mdb-icon> Back
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </mat-step>

                        </mat-horizontal-stepper>






                    </mdb-card-body>
                </mdb-card>
                <!-- Card -->


            </div>
        </div>

    </div>
</section>