<section>
    <div class="grey lighten-5">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-10">
                    <div class="row">
                        <p class="h1 line-height lettering ">We're a creative agency.Ask us about<br> branding,
                            design and advertising.<br>Being small
                            we can go into details.
                        </p>
                        <div class="col-md-4 py-5 px-0">
                            <button mdbBtn block="true" type="button" color="info" mdbWavesEffect>Estimate a
                                project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" cyan lighten-5">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-md-2 text-center">
                    <hr class="black ">
                </div>
                <div class="col-md-8 mx-4 px-4">
                    <p class="h1 pb-5">About Us</p>
                    <p class="h6 line-height">Large or small screens, and resized windows will create different
                        results.<br>
                        With HTML, you cannot change the output by adding extra spaces or extra lines in your HTML
                        code.<br>
                        The browser will remove any extra spaces and extra lines when the page is displayed:</p>
                </div>
                <div class="col-md-1 ">
                    <div class="row justify-content-center">
                        <div class="col-md-12 mb-5 vl vertical"></div>
                        <div class="col-md-12 letver   mt-3 px-0 py-2"><b>OUR PROCESS</b></div>
                    </div>
                </div>
            </div>
            <div class="row py-5 ">
                <div class="col-md-4 text-center  mt-3">
                    <mdb-card class="py-5 text-center">
                        <mdb-card-body>
                            <p class="h5">FOUNDED IN<br> 2020</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 text-center  mt-3">
                    <mdb-card class="py-5 ">
                        <mdb-card-body>
                            <div class="row">
                                <div class="col-md-3 px-0 text-center">
                                    <img src="./assets/images/icons/user.png" alt="user" width="50px">
                                </div>
                                <div class="col-md-6 px-0">
                                    <p class="h5 px-2">Tracked spent<br>$20/year</p>
                                </div>
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 text-center  mt-3">
                    <mdb-card class="py-5 ">
                        <mdb-card-body>
                            <div class="row">
                                <div class="col-md-3 px-0">
                                    <img src="./assets/images/icons/user.png" alt="user" width="50px">
                                </div>
                                <div class="col-md-8 px-0">
                                    <p class="h5 px-2">companies we work<br>500+</p>
                                </div>
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>
    <div class=" indigo lighten-5">
        <div class="container  py-5">
            <div class="row pb-3">
                <div class="col-md-2">
                    <hr class="black">
                </div>
                <div class="col-md-4">
                    <p class="h2">At Your Service</p>
                    <p class="text-grey">No robots,just good humans</p>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-4 mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4 mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4  mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-4  mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4  mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4  mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-md-4  mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>
                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4  mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>

                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-md-4  mt-3">
                    <mdb-card>
                        <!--Card image-->
                        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg"
                            alt="Card image cap"></mdb-card-img>
                        <!--Card content-->
                        <mdb-card-body>

                            <p class="h6">Mike</p>
                            <p>product designer</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>
    <div class="cyan lighten-5 py-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <mdb-card class="px-5 py-5">
                        <mdb-card-body class="py-5">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="h5">NEW BUSINESS</p>
                                    <p>aimentr@gmail.com</p>
                                    <p>234-253-446</p>
                                </div>
                                <div class="col-md-4 pl-3">
                                    <p class="h5">CONTACT US</p>
                                    <p>hyderabad</p>
                                    <p>aimentr@gmail.com</p>
                                    <p>234-253-446</p>
                                </div>
                                <div class="col-md-3">
                                    <p class="h5">SOCIAL</p>
                                    <p>Twitter</p>
                                    <p>Instagram</p>
                                </div>
                            </div>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-md-12 text-center">
                    <p class="h1">Looking for a design partner?</p>
                    <p class="py-4">You cannot be sure how HTML will be displayed.<br>
                        Large or small screens, and resized windows will create different results.<br>
                        With HTML, you cannot change the output by adding extra spaces or extra lines in your HTML
                        code.<br>
                        The browser will remove any extra spaces and extra lines when the page is displayed</p>
                </div>
                <div class="col-md-3 ">
                    <button mdbBtn block="true" type="button" color="info" mdbWavesEffect>contact us</button>
                </div>
            </div>
        </div>
    </div>
    <div class="elegant-color">
        <div class="container   py-5">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <img src="/assets/logo_full.png" class="img-fluid" width="200px">
                </div>
                <div class="col-md-9 text-white">
                    <div class="list">
                        <div class="row">
                            <div class="col-md-4">
                                <ul style="list-style-type:none;">
                                    <h3>courses</h3>
                                    <li>Become a Mentor</li>
                                    <li>Search for Technologies</li>
                                    <li>Careers</li>
                                    <li>Requesting API</li>
                                    <li>Solutions</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul style="list-style-type:none">
                                    <h3>Company</h3>
                                    <li>About us</li>
                                    <li>Contact</li>
                                    <li>Privacy Policy</li>
                                    <li>Terms Of Use</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul style="list-style-type:none">
                                    <h3>Social</h3>
                                    <li>Twitter</li>
                                    <li>LinkedIn</li>
                                    <li>Facebook</li>
                                    <li>Instagram</li>
                                    <li>YouTube</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>