.lettering{
    font-family: Arial, Helvetica, sans-serif;
color:#0d47a1 ;
font-size: 55px;
}
.vertical{
    height: 120px;
    border-left: 1.5px solid blue;
    margin-left: 94px;
}
.letver{
    transform: rotate(90deg);
  //  word-wrap: break-word;
    text-orientation: right;
    
}

/* Handle on hover */
