<!-- <div class="intro">
    <div class="vide">
       <video autoplay muted loop id="myVideo">
          <source src="/assets/landing/home-video-background.mp4" type="video/mp4">
       </video>
    </div>
    
    <div class="container-fluid inputsearch py-3">
        <div class="container">
        <div class="row">
       <div class="col-12 pb-5 px-0">
          <div class=" pb-5">
             <img src="/assets/logo_full.png" class=" img-fluid" width="200px">
 
             <button type="button" class="float-right" mdbBtn color="dark" rounded="true" routerLink="/register"
                mdbWavesEffect>Register</button>
             <button type="button" class="float-right" mdbBtn color="white" rounded="true" routerLink="/login"
                mdbWavesEffect>Login</button>
          </div>
       </div>
       <div class="col-md-12">
       <div class="pt-5">
          <div class="py-3">
             <p class="text-white h1 hea pt-5">Welcome To india's 1st</p>
 
             <p class="para h6 text-white">Social Learning Community
             </p>
          </div>
          <div class="row">
             <div class="input-group px-3 py-2">
                <input type="text" class="form-control" class="w-50 px-2" placeholder="Enter your search"
                   aria-label="Text input with dropdown button">
                <div class="input-group-append">
                   <div class="btn-group searchbox1" mdbDropdown>
                      <button type="button" mdbBtn color="white" outline="true" size="md" class="z-depth-0"
                         mdbWavesEffect>Action</button>
                      <button type="button" mdbDropdownToggle mdbBtn color="white" outline="true"
                         class="dropdown-toggle dropdown-toggle-split z-depth-0 p-2" mdbWavesEffect></button>
                      <div class="dropdown-menu">
                         <a class="dropdown-item" href="#">Mentors</a>
                         <a class="dropdown-item" href="#">Courses</a>
 
                      </div>
                   </div>
                </div>
             </div>
          </div>
        </div>
    </div>
</div>
</div>
 </div>
</div> -->
<div class="view">
    <video autoplay muted loop id="myvideo" >
        <source src="/assets/landing/home-video-background.mp4" type="video/mp4">
     </video>
         <div class="mask  rgba-black-strong">
            <div class="container">
                <div class="row">
               <div class="col-12 pt-3 py-5 px-0">
                 <div class="row">
                    <div class="col-md-6">
                     <img src="/assets/logo_full.png" class="img-fluid" width="200px">
                  </div>
                  <div class="col-md-6">
                     <button type="button" class="float-right" mdbBtn color="primary" rounded="true" routerLink="/register"
                        mdbWavesEffect>Register</button>
                     <button type="button" class="float-right" mdbBtn color="white" rounded="true" routerLink="/login"
                        mdbWavesEffect>Login</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 pt-3">
               <div class="pt-5">
                  <div class="py-3">
                     <p class="text-white h1 hea pt-5">Welcome To india's 1st</p>
         
                     <p class="para h6 text-white">Social Learning Community
                     </p>
                  </div>
                  <div class="row">
                     <div class="input-group px-3 py-2">
                        <input type="text" class="form-control" class="w-50 px-2" placeholder="Enter your search"
                           aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                           <div class="btn-group searchbox1" mdbDropdown>
                              <button type="button" mdbBtn color="white" outline="true" size="md" class="z-depth-0"
                                 mdbWavesEffect>Action</button>
                              <button type="button" mdbDropdownToggle mdbBtn color="white" outline="true"
                                 class="dropdown-toggle dropdown-toggle-split z-depth-0 p-2" mdbWavesEffect></button>
                              <div class="dropdown-menu">
                                 <a class="dropdown-item" href="#">Mentors</a>
                                 <a class="dropdown-item" href="#">Courses</a>
         
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>